{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração v2 - Entregas",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/v2/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/v2/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Obrigatório. Sua chave API."
      }
    }
  },
  "paths": {
    "/consumidores": {
      "get": {
        "summary": "Listar consumidores",
        "description": "Lista os consumidores da empresa do gestor autenticado, de forma paginada. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de consumidores retornados. Padrão 20, máximo 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da listagem. Padrão 1.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1,
                      "nome": "Maria",
                      "telefone": "+5544999999999"
                    }
                  ],
                  "__links": [
                    {
                      "rel": "self",
                      "href": "api/v2/integracao/consumidores",
                      "metodo": "get"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar consumidor",
        "description": "Cria um consumidor na empresa do gestor autenticado. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "telefone"
                ],
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Apenas letras, espaços e os sinais - ' . (não aceita números nem outros caracteres especiais)."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone em formato internacional E.164, ex.: +5544999999999."
                  }
                }
              },
              "example": {
                "nome": "Maria",
                "telefone": "+5544999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 10,
                    "nome": "Maria"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Já existe um consumidor com este telefone."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}": {
      "get": {
        "summary": "Consultar consumidor",
        "description": "Retorna um consumidor da empresa do gestor, com seus endereços. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria",
                    "telefone": "+5544999999999",
                    "enderecos": [
                      {
                        "id": 8,
                        "endereco": "Av. Brasil, 1000",
                        "complemento": "Sala 2",
                        "bairro": "Centro",
                        "cidade": "Maringá",
                        "estado": "PR",
                        "cep": "87010000",
                        "latitude": -23.425,
                        "longitude": -51.938
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Editar consumidor",
        "description": "Edita o nome do consumidor (paridade com o site). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Maria Silva"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria Silva"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos": {
      "get": {
        "summary": "Listar endereços",
        "description": "Lista os endereços de um consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 8,
                      "endereco": "Av. Brasil, 1000",
                      "complemento": "Sala 2",
                      "bairro": "Centro",
                      "cidade": "Maringá",
                      "estado": "PR",
                      "cep": "87010000",
                      "latitude": -23.425,
                      "longitude": -51.938
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar endereço",
        "description": "Cria um endereço para um consumidor da empresa do gestor. Endereços duplicados (mesmo place_id) ou a menos de 5 metros de um já cadastrado são rejeitados. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endereco",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "endereco": "Av. Brasil, 1000",
                "complemento": "Sala 2",
                "bairro": "Centro",
                "cidade": "Maringá",
                "estado": "PR",
                "cep": "87010000",
                "latitude": -23.425,
                "longitude": -51.938,
                "place_id": "ChIJ..."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "criado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "'latitude': Preenchimento obrigatório"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflito",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço já cadastrado ou muito próximo de um endereço existente."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos/{enderecoId}": {
      "patch": {
        "summary": "Editar endereço",
        "description": "Atualiza um endereço do consumidor. Apenas os campos enviados são alterados (cobre editar o endereço completo ou apenas o complemento). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "complemento": "Apto 31"
              }
            }
          },
          "description": "Atualização parcial: envie ao menos um campo para atualizar; apenas os campos enviados são alterados."
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "atualizado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Nenhum campo para atualizar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Informe ao menos um campo para atualizar."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir endereço",
        "description": "Exclui um endereço do consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Excluído",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "excluido": true
                  }
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area": {
      "get": {
        "summary": "Obter dinâmicas por área",
        "description": "Lista as dinâmicas associadas às áreas.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 10,
                      "nome": "Área Central",
                      "fator": 1.5,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": true,
                      "tipo": "No embarque"
                    },
                    {
                      "id": 12,
                      "nome": "Zona Norte",
                      "fator": 1.1,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": false,
                      "tipo": "No destino"
                    },
                    {
                      "id": "14",
                      "nome": "Zona Sul",
                      "valor_adicional": 2.5,
                      "tipo_calculo": "Valor adicional",
                      "ativo": true,
                      "tipo": "No embarque"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/sem-area": {
      "get": {
        "summary": "Obter dinâmica sem área",
        "description": "Obtém a dinâmica sem área.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "nome": "Dinâmica sem área",
                    "fator": 1.5,
                    "tipo_calculo": "Fator multiplicador",
                    "ativo": true,
                    "tipo": "Sem área"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Ativar/Desativar dinâmica sem área",
        "description": "Ativa ou desativa a dinâmica sem área.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativo"
                ],
                "properties": {
                  "ativo": {
                    "description": "Indica se a dinâmica sem área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "ativo": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica sem área atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Dinâmica sem área atualizada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativo ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'ativo': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "nenhuma_alteracao": {
                    "summary": "Nenhuma alteração detectada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Nenhuma alteração detectada."
                        }
                      ]
                    }
                  },
                  "erro_interno": {
                    "summary": "Erro interno",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area/{id}": {
      "patch": {
        "summary": "Ativar/Desativar dinâmica por área",
        "description": "Ativa ou desativa a dinâmica associada a uma área específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da área cuja dinâmica será atualizada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativo"
                ],
                "properties": {
                  "ativo": {
                    "description": "Indica se a dinâmica da área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "ativo": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Dinâmica atualizada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativo ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'ativo': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "nenhuma_alteracao": {
                    "summary": "Nenhuma alteração detectada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Nenhuma alteração detectada."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dinâmica não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dinâmica não encontrada."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores": {
      "get": {
        "summary": "Listar condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado.\n\nA: Ativo\nE: Em análise\nF: Fila de espera\nI: Inativo\nS: Suspenso\nR: Rejeitado\nD: Deletado",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que deseja visualizar as informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara, por exemplo: `123.456.789-09` ou `12345`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Lemuel Tunnel",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Toledo",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Jamaica",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Trantow Trail",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Romagueraside",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "El Salvador",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}": {
      "get": {
        "summary": "Obter condutor",
        "description": "Retorna um condutor da central conforme o ID informado. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Atualizar condutor parcialmente",
        "description": "Atualiza parcialmente os dados do condutor. Envie apenas o ID e os campos que deseja alterar.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do condutor."
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do condutor."
                  },
                  "data_nascimento": {
                    "type": "string",
                    "description": "Data de nascimento do condutor."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do condutor."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone do condutor."
                  },
                  "status_condutor": {
                    "type": "string",
                    "description": "Status do condutor."
                  },
                  "endereco": {
                    "type": "string",
                    "description": "Logradouro do condutor."
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número do endereço do condutor."
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento do endereço."
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do condutor."
                  },
                  "cpf": {
                    "type": "string",
                    "description": "CPF do condutor, com ou sem máscara."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do condutor, com ou sem máscara."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo."
                  },
                  "vinculo": {
                    "type": "string",
                    "description": "Tipo de vínculo."
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "description": "Tipo do veículo do condutor."
                  },
                  "placa": {
                    "type": "string",
                    "description": "Placa do veículo."
                  },
                  "modelo": {
                    "type": "string",
                    "description": "Modelo do veículo."
                  },
                  "ano_modelo": {
                    "type": "integer",
                    "description": "Ano do modelo do veículo."
                  },
                  "cor": {
                    "type": "string",
                    "description": "Cor do veículo."
                  },
                  "porta_malas_grande": {
                    "type": "boolean",
                    "description": "Indica se o veículo possui porta-malas grande."
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean",
                    "description": "Indica se o veículo é adaptado para cadeirante."
                  },
                  "numero_viatura": {
                    "type": "integer",
                    "description": "Número da viatura."
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "description": "Lista de tipos de pagamento aceitos.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "description": "Bloco de exigências operacionais do condutor.",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais do condutor."
                  },
                  "observacao_interna_1": {
                    "type": "string",
                    "description": "Observação interna 1."
                  },
                  "observacao_interna_2": {
                    "type": "string",
                    "description": "Observação interna 2."
                  },
                  "observacao_interna_3": {
                    "type": "string",
                    "description": "Observação interna 3."
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "pagamentos": [
                  "B",
                  "X"
                ],
                "observacao_interna_1": "Documentação revisada"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Atualizar condutor completo",
        "description": "Atualiza completamente os dados do condutor. Todos os campos do corpo são obrigatórios, com exceção da regra entre `cpf` e `cnpj`: é obrigatório enviar pelo menos um dos dois.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "sexo",
                  "data_nascimento",
                  "email",
                  "telefone",
                  "status_condutor",
                  "endereco",
                  "numero_endereco",
                  "complemento",
                  "cep",
                  "bairro",
                  "possui_vinculo",
                  "vinculo",
                  "veiculo_tipo",
                  "placa",
                  "modelo",
                  "ano_modelo",
                  "cor",
                  "porta_malas_grande",
                  "adaptado_cadeirante",
                  "numero_viatura",
                  "categorias",
                  "pagamentos",
                  "exigencia",
                  "informacoes_adicionais",
                  "observacao_interna_1",
                  "observacao_interna_2",
                  "observacao_interna_3"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  },
                  "sexo": {
                    "type": "string"
                  },
                  "data_nascimento": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "telefone": {
                    "type": "string"
                  },
                  "status_condutor": {
                    "type": "string"
                  },
                  "endereco": {
                    "type": "string"
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Obrigatório se `cnpj` não for enviado."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Obrigatório se `cpf` não for enviado."
                  },
                  "possui_vinculo": {
                    "type": "boolean"
                  },
                  "vinculo": {
                    "type": "string"
                  },
                  "veiculo_tipo": {
                    "type": "string"
                  },
                  "placa": {
                    "type": "string"
                  },
                  "modelo": {
                    "type": "string"
                  },
                  "ano_modelo": {
                    "type": "integer"
                  },
                  "cor": {
                    "type": "string"
                  },
                  "porta_malas_grande": {
                    "type": "boolean"
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean"
                  },
                  "numero_viatura": {
                    "type": "integer"
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string"
                  },
                  "observacao_interna_1": {
                    "type": "string"
                  },
                  "observacao_interna_2": {
                    "type": "string"
                  },
                  "observacao_interna_3": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "sexo": "F",
                "data_nascimento": "1990-04-18",
                "email": "lara@exemplo.com",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "endereco": "Rua Exemplo",
                "numero_endereco": "123",
                "complemento": "Apto 45",
                "cep": "20000-000",
                "bairro": "Centro",
                "cpf": "123.456.789-09",
                "possui_vinculo": true,
                "vinculo": "permissionario",
                "veiculo_tipo": "carro",
                "placa": "ABC1D23",
                "modelo": "Sedan",
                "ano_modelo": 2023,
                "cor": "Branco",
                "porta_malas_grande": true,
                "adaptado_cadeirante": false,
                "numero_viatura": 202,
                "categorias": [
                  1,
                  2
                ],
                "pagamentos": [
                  "D",
                  "B",
                  "X"
                ],
                "exigencia": {
                  "veiculo_a_disposicao": false,
                  "aceita_encomendas": true,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "informacoes_adicionais": "Disponível para corridas corporativas",
                "observacao_interna_1": "Cadastro atualizado"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/documentos/atualizar": {
      "post": {
        "summary": "Atualizar documento do condutor",
        "description": "Atualiza um documento específico do condutor com upload de arquivo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo",
                  "foto"
                ],
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do documento a ser atualizado."
                  },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento enviado por `multipart/form-data`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Foto alterada com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/recargas": {
      "post": {
        "summary": "Recarregar créditos do condutor",
        "description": "Realiza uma recarga de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico da recarga."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 100.5,
                "observacao": "Recarga promocional",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "108"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/saques": {
      "post": {
        "summary": "Sacar créditos do condutor",
        "description": "Realiza um saque de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico do saque."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 50.25,
                "observacao": "Saque solicitado pelo parceiro",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "26"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/areas-bloqueio/batch": {
      "put": {
        "summary": "Atualizar áreas de bloqueio em lote",
        "description": "Atualiza em lote as áreas de bloqueio de um conjunto de condutores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutores",
                  "areas_bloqueio"
                ],
                "properties": {
                  "condutores": {
                    "type": "array",
                    "description": "Lista de IDs numéricos de condutores. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "areas_bloqueio": {
                    "type": "array",
                    "description": "Lista de IDs numéricos das áreas de bloqueio. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "condutores": [
                  5574,
                  5575
                ],
                "areas_bloqueio": [
                  24,
                  124
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/areas-permissao": {
      "post": {
        "summary": "Vincular área de permissão ao condutor",
        "description": "Vincula um condutor a uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "area_id"
                ],
                "properties": {
                  "area_id": {
                    "type": "integer",
                    "description": "Identificador numérico da área de permissão."
                  }
                }
              },
              "example": {
                "area_id": 24
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Desvincular área de permissão do condutor",
        "description": "Desvincula um condutor de uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/tipos-documento": {
      "get": {
        "summary": "Listar tipos de documento",
        "description": "Responsável por retornar todos os documentos criados pela central.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzQ0Mg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/areas-geograficas": {
      "get": {
        "summary": "Listar áreas geográficas",
        "description": "Responsável por listar as áreas de bloqueio disponíveis para central.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Default 20, max 100",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Default 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "24",
                      "nome": "Área 33"
                    },
                    {
                      "id": "124",
                      "nome": "Campo Santana"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias": {
      "get": {
        "summary": "Listar categorias",
        "description": "Retorna as categorias ativas da central. Caso seja informada uma localização pertencente a uma filial, serão retornadas as categorias ativas da filial. Caso seja informada a latitude e longitude, não é necessário passar as demais informações.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Obrigatório se lng for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Obrigatório se lat for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "description": "Não obrigatório",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "71",
                      "nome": "Comum"
                    },
                    {
                      "id": "162",
                      "nome": "15 Reais"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias/{id}": {
      "put": {
        "summary": "Atualizar categoria",
        "description": "Permite atualizar os dados de uma categoria da central.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id da categoria",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibir_no_app": {
                    "type": "boolean",
                    "description": "Indica se a categoria deve ser exibida no app. Se true, exibe a categoria no aplicativo. Se false, a categoria deixa de ser exibida no aplicativo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Categoria modificada com sucesso!"
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes": {
      "patch": {
        "summary": "Atualizar configurações",
        "description": "Permite alterar as configurações da sua central.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permitir_solicitacao_espera": {
                    "type": "boolean",
                    "description": "Opcional. Indica se deve habilitar as solicitações em espera. Use `true` para habilitar e `false` para desabilitar."
                  },
                  "distancia_km_solicitacao_espera": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.25,
                    "maximum": 10,
                    "description": "Opcional. Distância em quilômetros entre o ponto atual do condutor e o destino informado de finalização da corrida para que o condutor receba uma solicitação em espera. Aceita valores entre `0.25` e `10.0`."
                  },
                  "limite_cancelamentos_permitidos": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Opcional. Quantidade limite de cancelamentos permitidos pelo condutor. A configuração `Habilita a punição por cancelamentos` deve estar habilitada."
                  }
                }
              },
              "example": {
                "permitir_solicitacao_espera": true,
                "distancia_km_solicitacao_espera": 0.25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Central modificada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "body_vazio": {
                    "summary": "Body vazio",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'body': Informe ao menos um campo para atualização."
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Booleano inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'permitir_solicitacao_espera': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "distancia_fora_intervalo": {
                    "summary": "Distância fora do intervalo",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'distancia_km_solicitacao_espera': Deve estar entre 0.25 e 10.0."
                        }
                      ]
                    }
                  },
                  "limite_invalido": {
                    "summary": "Limite inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'limite_cancelamentos_permitidos': Deve ser um inteiro maior ou igual a 0."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/saque-automatico/ativacao": {
      "post": {
        "summary": "Ativar ou desativar saque automático",
        "description": "Ativa ou desativa o saque automático da integração autenticada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativar"
                ],
                "additionalProperties": false,
                "properties": {
                  "ativar": {
                    "type": "boolean",
                    "description": "Obrigatório. Informe `true` para ativar o saque automático ou `false` para desativar."
                  }
                }
              },
              "examples": {
                "ativar": {
                  "summary": "Ativar saque automático",
                  "value": {
                    "ativar": true
                  }
                },
                "desativar": {
                  "summary": "Desativar saque automático",
                  "value": {
                    "ativar": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque automático atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "ativado": {
                    "summary": "Saque automático ativado",
                    "value": {
                      "success": true,
                      "data": {
                        "ativar": true
                      },
                      "message": "Saque automático ativado."
                    }
                  },
                  "desativado": {
                    "summary": "Saque automático desativado",
                    "value": {
                      "success": true,
                      "data": {
                        "ativar": false
                      },
                      "message": "Saque automático desativado."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativar ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_string": {
                    "summary": "Campo ativar enviado como string",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um booleano."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_inteiro": {
                    "summary": "Campo ativar enviado como inteiro",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um booleano."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "Listar webhooks",
        "description": "Permite visualizar os webhooks cadastrados.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "webhooks": [
                      {
                        "id": "5",
                        "tipo": "posicao",
                        "responsavel": "corrida",
                        "url": "https://teste-2.com"
                      },
                      {
                        "id": "6",
                        "tipo": "posicao",
                        "responsavel": "solicitante",
                        "url": "https://url-de-teste-2.com"
                      }
                    ],
                    "quantidade_webhooks": 2
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Cadastrar webhook",
        "description": "Permite cadastrar um webhook.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Indica o tipo de webhook. Valores aceitos: posicao ou status"
                  },
                  "url": {
                    "type": "string",
                    "description": "Indica a URL que receberá o evento"
                  },
                  "responsavel": {
                    "type": "string",
                    "description": "Obrigatório se o usuário autenticado não for de \"empresa\". Define quem é o responsável pelo evento. Valores aceitos: solicitante ou corrida. IMPORTANTE: para usuários \"empresa\", a responsabilidade será definida automaticamente."
                  }
                },
                "required": [
                  "tipo",
                  "url",
                  "responsavel"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Webhook criado com sucesso"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "put": {
        "summary": "Atualizar webhook",
        "description": "Permite atualizar a url de um webhook. É possível uma central atualizar o webhook de uma empresa cadastrada em sua operação.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do webhook a ser atualizado",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Indica a URL que receberá o evento"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Webhook atualizado com sucesso"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletar webhook",
        "description": "Permite deletar um webhook.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do webhook a ser deletado",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Webhook deletado com sucesso"
                }
              }
            }
          }
        }
      }
    },
    "/mensagens/condutor/broadcast": {
      "post": {
        "summary": "Enviar mensagem no chat central de condutor",
        "description": "Envia uma mensagem no chat central dos condutores da bandeira.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mensagem"
                ],
                "properties": {
                  "mensagem": {
                    "type": "string",
                    "description": "Conteúdo da mensagem a ser enviada. Máximo de 10.000 caracteres.",
                    "maxLength": 10000,
                    "example": "Cupom DESCONTO10 liberado."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Mensagem enviada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo mensagem ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "tipo_invalido": {
                    "summary": "Campo mensagem não é string",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Deve ser uma string."
                        }
                      ]
                    }
                  },
                  "tamanho_excedido": {
                    "summary": "Mensagem excede 10.000 caracteres",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Excede o limite máximo de 10000 caracteres."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mensagens/condutor/{id}": {
      "post": {
        "summary": "Enviar mensagem privada para condutor",
        "description": "Envia uma mensagem privada para um condutor específico. Para a mensagem ser corretamente enviada, é necessário que o condutor tenha o status de ativo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor destinatário. Deve ser numérico.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mensagem"
                ],
                "properties": {
                  "mensagem": {
                    "type": "string",
                    "description": "Conteúdo da mensagem a ser enviada. Máximo de 10.000 caracteres.",
                    "maxLength": 10000,
                    "example": "Bom dia, está indo ao local de partida?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Mensagem enviada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo mensagem ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "condutor_inexistente": {
                    "summary": "Condutor não encontrado ou inativo",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Destinatário não é ativo ou não possui cadastro."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mensagens/empresa/broadcast": {
      "post": {
        "summary": "Enviar mensagem no chat central de empresa",
        "description": "Envia uma mensagem no chat central de empresas da bandeira. A mensagem será visível no chat geral de empresas no painel da central.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mensagem"
                ],
                "properties": {
                  "mensagem": {
                    "type": "string",
                    "description": "Conteúdo da mensagem a ser enviada. Máximo de 10.000 caracteres.",
                    "maxLength": 10000,
                    "example": "Cupom DESCONTO10 liberado."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Mensagem enviada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo mensagem ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "tipo_invalido": {
                    "summary": "Campo mensagem não é string",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Deve ser uma string."
                        }
                      ]
                    }
                  },
                  "tamanho_excedido": {
                    "summary": "Mensagem excede 10.000 caracteres",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'mensagem': Excede o limite máximo de 10000 caracteres."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mensagens/empresa/{id}": {
      "post": {
        "summary": "Enviar mensagem privada para empresa",
        "description": "Envia uma mensagem privada para uma empresa específica. A empresa deve estar ativa (`status = 'A'`) na bandeira e possuir um usuário com permissão de receber mensagens.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID da empresa destinatária. Deve ser numérico.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mensagem"
                ],
                "properties": {
                  "mensagem": {
                    "type": "string",
                    "description": "Conteúdo da mensagem a ser enviada. Máximo de 10.000 caracteres.",
[...]
