{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração V2 - Corridas",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/v2/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/v2/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Obrigatório. Sua chave API."
      }
    }
  },
  "paths": {
    "/clientes": {
      "get": {
        "summary": "Obter clientes",
        "description": "Quando acionada, são retornados todos os clientes da central conforme os parâmetros informados.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do cliente de que se deseja saber informações, caso seja informado, os demais parâmetros serão ignorados. Caso não seja informado, retornará todos os clientes conforme os limites informados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status_cliente",
            "in": "query",
            "description": "Filtra os clientes pelo status:\n\nA: Ativo\nI: Inativo\nS: Suspenso\nG: Aguardando ativação",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "I",
                "S",
                "G"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de clientes retornados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clientes/{id}": {
      "get": {
        "summary": "Obter cliente",
        "description": "Retorna os detalhes de um cliente específico através do seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "Cliente não encontrado."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores": {
      "get": {
        "summary": "Listar condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado.\n\nA: Ativo\nE: Em análise\nF: Fila de espera\nI: Inativo\nS: Suspenso\nR: Rejeitado\nD: Deletado",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que deseja visualizar as informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara, por exemplo: `123.456.789-09` ou `12345`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Lemuel Tunnel",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Toledo",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Jamaica",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Trantow Trail",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Romagueraside",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "El Salvador",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/areas-bloqueio/batch": {
      "put": {
        "summary": "Atualizar áreas de bloqueio em lote",
        "description": "Atualiza em lote as áreas de bloqueio de um conjunto de condutores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutores",
                  "areas_bloqueio"
                ],
                "properties": {
                  "condutores": {
                    "type": "array",
                    "description": "Lista de IDs numéricos de condutores. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "areas_bloqueio": {
                    "type": "array",
                    "description": "Lista de IDs numéricos das áreas de bloqueio. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "condutores": [
                  5574,
                  5575
                ],
                "areas_bloqueio": [
                  24,
                  124
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/recargas": {
      "post": {
        "summary": "Recarregar créditos do condutor",
        "description": "Realiza uma recarga de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico da recarga."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 100.5,
                "observacao": "Recarga promocional",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "108"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/saldo": {
      "get": {
        "summary": "Consultar saldo de créditos do condutor",
        "description": "Consulta o saldo de créditos de um condutor identificado por tipo e valor de identificação.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "saldo": 587.69
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "I"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "5574"
            }
          }
        ]
      }
    },
    "/condutores/creditos/saques": {
      "post": {
        "summary": "Sacar créditos do condutor",
        "description": "Realiza um saque de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico do saque."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 50.25,
                "observacao": "Saque solicitado pelo parceiro",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "26"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/documentos": {
      "get": {
        "summary": "Consultar documentos do condutor",
        "description": "Retorna os documentos cadastrados do condutor. O tipo de identificação pode ser CPF (C), viatura (V), telefone (T), placa do veículo (P) ou identificador do condutor (I).",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "tipo": "ZG9jXzg",
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "url_foto": "/api/foto?user_id=993&id=896"
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "C"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "123.456.789-09"
            }
          }
        ]
      }
    },
    "/condutores/requisitos-cadastro/documentos": {
      "get": {
        "summary": "Consultar requisitos de documentos para cadastro",
        "description": "Retorna os documentos necessários para o cadastro do condutor.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "Alvará de táxi",
                        "tipo": "ZG9jXzEy",
                        "ativo": false
                      },
                      {
                        "nome": "Certidão de antecedentes criminais",
                        "tipo": "ZG9jXzEx",
                        "ativo": true
                      },
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 6
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "I"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "5574"
            }
          }
        ]
      }
    },
    "/condutores/{id}": {
      "get": {
        "summary": "Obter condutor",
        "description": "Retorna um condutor da central conforme o ID informado. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Atualizar condutor parcialmente",
        "description": "Atualiza parcialmente os dados do condutor. Envie apenas o ID e os campos que deseja alterar.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do condutor."
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do condutor."
                  },
                  "data_nascimento": {
                    "type": "string",
                    "description": "Data de nascimento do condutor."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do condutor."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone do condutor."
                  },
                  "status_condutor": {
                    "type": "string",
                    "description": "Status do condutor."
                  },
                  "endereco": {
                    "type": "string",
                    "description": "Logradouro do condutor."
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número do endereço do condutor."
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento do endereço."
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do condutor."
                  },
                  "cpf": {
                    "type": "string",
                    "description": "CPF do condutor, com ou sem máscara."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do condutor, com ou sem máscara."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo."
                  },
                  "vinculo": {
                    "type": "string",
                    "description": "Tipo de vínculo."
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "description": "Tipo do veículo do condutor."
                  },
                  "placa": {
                    "type": "string",
                    "description": "Placa do veículo."
                  },
                  "modelo": {
                    "type": "string",
                    "description": "Modelo do veículo."
                  },
                  "ano_modelo": {
                    "type": "integer",
                    "description": "Ano do modelo do veículo."
                  },
                  "cor": {
                    "type": "string",
                    "description": "Cor do veículo."
                  },
                  "porta_malas_grande": {
                    "type": "boolean",
                    "description": "Indica se o veículo possui porta-malas grande."
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean",
                    "description": "Indica se o veículo é adaptado para cadeirante."
                  },
                  "numero_viatura": {
                    "type": "integer",
                    "description": "Número da viatura."
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "description": "Lista de tipos de pagamento aceitos.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "description": "Bloco de exigências operacionais do condutor.",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais do condutor."
                  },
                  "observacao_interna_1": {
                    "type": "string",
                    "description": "Observação interna 1."
                  },
                  "observacao_interna_2": {
                    "type": "string",
                    "description": "Observação interna 2."
                  },
                  "observacao_interna_3": {
                    "type": "string",
                    "description": "Observação interna 3."
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "pagamentos": [
                  "B",
                  "X"
                ],
                "observacao_interna_1": "Documentação revisada"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Atualizar condutor completo",
        "description": "Atualiza completamente os dados do condutor. Todos os campos do corpo são obrigatórios, com exceção da regra entre `cpf` e `cnpj`: é obrigatório enviar pelo menos um dos dois.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "sexo",
                  "data_nascimento",
                  "email",
                  "telefone",
                  "status_condutor",
                  "endereco",
                  "numero_endereco",
                  "complemento",
                  "cep",
                  "bairro",
                  "possui_vinculo",
                  "vinculo",
                  "veiculo_tipo",
                  "placa",
                  "modelo",
                  "ano_modelo",
                  "cor",
                  "porta_malas_grande",
                  "adaptado_cadeirante",
                  "numero_viatura",
                  "categorias",
                  "pagamentos",
                  "exigencia",
                  "informacoes_adicionais",
                  "observacao_interna_1",
                  "observacao_interna_2",
                  "observacao_interna_3"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  },
                  "sexo": {
                    "type": "string"
                  },
                  "data_nascimento": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "telefone": {
                    "type": "string"
                  },
                  "status_condutor": {
                    "type": "string"
                  },
                  "endereco": {
                    "type": "string"
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Obrigatório se `cnpj` não for enviado."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Obrigatório se `cpf` não for enviado."
                  },
                  "possui_vinculo": {
                    "type": "boolean"
                  },
                  "vinculo": {
                    "type": "string"
                  },
                  "veiculo_tipo": {
                    "type": "string"
                  },
                  "placa": {
                    "type": "string"
                  },
                  "modelo": {
                    "type": "string"
                  },
                  "ano_modelo": {
                    "type": "integer"
                  },
                  "cor": {
                    "type": "string"
                  },
                  "porta_malas_grande": {
                    "type": "boolean"
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean"
                  },
                  "numero_viatura": {
                    "type": "integer"
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string"
                  },
                  "observacao_interna_1": {
                    "type": "string"
                  },
                  "observacao_interna_2": {
                    "type": "string"
                  },
                  "observacao_interna_3": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "sexo": "F",
                "data_nascimento": "1990-04-18",
                "email": "lara@exemplo.com",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "endereco": "Rua Exemplo",
                "numero_endereco": "123",
                "complemento": "Apto 45",
                "cep": "20000-000",
                "bairro": "Centro",
                "cpf": "123.456.789-09",
                "possui_vinculo": true,
                "vinculo": "permissionario",
                "veiculo_tipo": "carro",
                "placa": "ABC1D23",
                "modelo": "Sedan",
                "ano_modelo": 2023,
                "cor": "Branco",
                "porta_malas_grande": true,
                "adaptado_cadeirante": false,
                "numero_viatura": 202,
                "categorias": [
                  1,
                  2
                ],
                "pagamentos": [
                  "D",
                  "B",
                  "X"
                ],
                "exigencia": {
                  "veiculo_a_disposicao": false,
                  "aceita_encomendas": true,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "informacoes_adicionais": "Disponível para corridas corporativas",
                "observacao_interna_1": "Cadastro atualizado"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/areas-permissao": {
      "post": {
        "summary": "Vincular área de permissão ao condutor",
        "description": "Vincula um condutor a uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "area_id"
                ],
                "properties": {
                  "area_id": {
                    "type": "integer",
                    "description": "Identificador numérico da área de permissão."
                  }
                }
              },
              "example": {
                "area_id": 24
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Desvincular área de permissão do condutor",
        "description": "Desvincula um condutor de uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/documentos/atualizar": {
      "post": {
        "summary": "Atualizar documento do condutor",
        "description": "Atualiza um documento específico do condutor com upload de arquivo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo",
                  "foto"
                ],
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do documento a ser atualizado."
                  },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento enviado por `multipart/form-data`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Foto alterada com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes": {
      "patch": {
        "summary": "Atualizar configurações",
        "description": "Permite alterar as configurações da sua central.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permitir_solicitacao_espera": {
                    "type": "boolean",
                    "description": "Opcional. Indica se deve habilitar as solicitações em espera. Use `true` para habilitar e `false` para desabilitar."
                  },
                  "distancia_km_solicitacao_espera": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.25,
                    "maximum": 10,
                    "description": "Opcional. Distância em quilômetros entre o ponto atual do condutor e o destino informado de finalização da corrida para que o condutor receba uma solicitação em espera. Aceita valores entre `0.25` e `10.0`."
                  },
                  "limite_cancelamentos_permitidos": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Opcional. Quantidade limite de cancelamentos permitidos pelo condutor. A configuração `Habilita a punição por cancelamentos` deve estar habilitada."
                  }
                }
              },
              "example": {
                "permitir_solicitacao_espera": true,
                "distancia_km_solicitacao_espera": 0.25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Central modificada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "body_vazio": {
                    "summary": "Body vazio",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'body': Informe ao menos um campo para atualização."
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Booleano inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'permitir_solicitacao_espera': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "distancia_fora_intervalo": {
                    "summary": "Distância fora do intervalo",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'distancia_km_solicitacao_espera': Deve estar entre 0.25 e 10.0."
                        }
                      ]
                    }
                  },
                  "limite_invalido": {
                    "summary": "Limite inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'limite_cancelamentos_permitidos': Deve ser um inteiro maior ou igual a 0."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/areas-geograficas": {
      "get": {
        "summary": "Listar áreas geográficas",
        "description": "Responsável por listar as áreas de bloqueio disponíveis para central.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Default 20, max 100",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Default 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "24",
                      "nome": "Área 33"
                    },
                    {
                      "id": "124",
                      "nome": "Campo Santana"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias": {
      "get": {
        "summary": "Listar categorias",
        "description": "Retorna as categorias ativas da central. Caso seja informada uma localização pertencente a uma filial, serão retornadas as categorias ativas da filial. Caso seja informada a latitude e longitude, não é necessário passar as demais informações.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Obrigatório se lng for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Obrigatório se lat for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "description": "Não obrigatório",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "71",
                      "nome": "Comum"
                    },
                    {
                      "id": "162",
                      "nome": "15 Reais"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias/{id}": {
      "put": {
        "summary": "Atualizar categoria",
        "description": "Permite atualizar os dados de uma categoria da central.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id da categoria",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibir_no_app": {
                    "type": "boolean",
                    "description": "Indica se a categoria deve ser exibida no app. Se true, exibe a categoria no aplicativo. Se false, a categoria deixa de ser exibida no aplicativo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Categoria modificada com sucesso!"
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/saque-automatico/ativacao": {
      "post": {
        "summary": "Ativar ou desativar saque automático",
        "description": "Ativa ou desativa o saque automático da integração autenticada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativar"
                ],
                "additionalProperties": false,
                "properties": {
                  "ativar": {
                    "type": "boolean",
                    "description": "Obrigatório. Informe `true` para ativar o saque automático ou `false` para desativar."
                  }
                }
              },
              "examples": {
                "ativar": {
                  "summary": "Ativar saque automático",
                  "value": {
                    "ativar": true
                  }
                },
                "desativar": {
                  "summary": "Desativar saque automático",
                  "value": {
                    "ativar": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque automático atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "ativado": {
                    "summary": "Saque automático ativado",
                    "value": {
                      "success": true,
                      "data": {
                        "ativar": true
                      },
                      "message": "Saque automático ativado."
                    }
                  },
                  "desativado": {
                    "summary": "Saque automático desativado",
                    "value": {
                      "success": true,
                      "data": {
                        "ativar": false
                      },
                      "message": "Saque automático desativado."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativar ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_string": {
                    "summary": "Campo ativar enviado como string",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um booleano."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_inteiro": {
                    "summary": "Campo ativar enviado como inteiro",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um booleano."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/tipos-documento": {
      "get": {
        "summary": "Listar tipos de documento",
        "description": "Responsável por retornar todos os documentos criados pela central.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzQ0Mg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas": {
      "post": {
        "summary": "Criar corrida",
        "description": "Cria uma corrida avulsa, aceitando dados de cadastro, passageiro, origem, destino, empresa, filtros extras e paradas.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dados_cadastro",
                  "dados_passageiro",
                  "forma_pagamento",
                  "partida"
                ],
                "properties": {
                  "id_externo": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "description": "Identificador externo da integração."
                  },
                  "dados_cadastro": {
                    "type": "object",
                    "required": [
                      "codigo_pais",
                      "codigo_area",
                      "telefone"
                    ],
                    "properties": {
                      "codigo_pais": {
                        "type": "integer"
                      },
                      "codigo_area": {
                        "type": "integer"
                      },
                      "telefone": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  },
                  "dados_passageiro": {
                    "type": "object",
                    "required": [
                      "codigo_pais",
                      "codigo_area",
                      "telefone"
                    ],
                    "properties": {
                      "codigo_pais": {
                        "type": "integer"
                      },
                      "codigo_area": {
                        "type": "integer"
                      },
                      "telefone": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  },
                  "forma_pagamento": {
                    "type": "string",
                    "description": "Forma de pagamento da corrida."
                  },
                  "partida": {
                    "type": "object",
                    "required": [
                      "endereco",
                      "bairro"
                    ],
                    "properties": {
                      "endereco": {
                        "type": "string"
                      },
                      "bairro": {
                        "type": "string"
                      },
                      "cidade": {
                        "type": "string"
                      },
                      "estado": {
                        "type": "string"
                      },
                      "complemento": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ]
                      },
                      "referencia": {
                        "type": "string"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "desejado": {
                    "type": "object",
                    "properties": {
                      "endereco": {
                        "type": "string"
                      },
                      "bairro": {
                        "type": "string"
                      },
                      "cidade": {
                        "type": "string"
                      },
                      "estado": {
                        "type": "string"
                      },
                      "complemento": {
                        "type": "string"
                      },
                      "referencia": {
                        "type": "string"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "empresa": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "cadastrar_funcionario": {
                        "type": "boolean"
                      },
                      "centro_custo_id": {
                        "type": "integer"
                      }
                    }
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "categoria_nome": {
                    "type": "string"
                  },
                  "info_antes_aceite": {
                    "type": "string"
                  },
                  "info_apos_aceite": {
                    "type": "string"
                  },
                  "estimativas": {
                    "type": "boolean"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "extras": {
                    "type": "object",
                    "properties": {
                      "porta_malas_grande": {
                        "type": "boolean"
                      },
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "adaptado_cadeirante": {
                        "type": "boolean"
                      },
                      "motorista_mulher": {
                        "type": "boolean"
                      },
                      "aceita_animais": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "com_retorno": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "condutor": {
                    "type": "object",
                    "properties": {
                      "tipo_identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  },
                  "paradas": {
                    "type": "array",
                    "description": "Lista de paradas da corrida. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "object",
                      "properties": {
                        "endereco_parada": {
                          "type": "string"
                        },
                        "bairro_parada": {
                          "type": "string"
                        },
                        "cidade_parada": {
                          "type": "string"
                        },
                        "estado_parada": {
                          "type": "string"
                        },
                        "lat_parada": {
                          "type": "number"
                        },
                        "lng_parada": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "antecedencia": {
                    "type": "integer"
                  },
                  "retorno": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "id_externo": "001",
                "dados_cadastro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999
                },
                "dados_passageiro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999,
                  "nome": "Funcionário 1"
                },
                "empresa": {
                  "id": 1,
                  "cadastrar_funcionario": false,
                  "centro_custo_id": 2
                },
                "info_antes_aceite": "Embarque com animal",
                "info_apos_aceite": "2 paradas",
                "forma_pagamento": "D",
                "categoria_id": 100,
                "categoria_nome": "Comum",
                "estimativas": true,
                "ignorar_condutores_proximos": false,
                "extras": {
                  "porta_malas_grande": false,
                  "veiculo_a_disposicao": false,
                  "adaptado_cadeirante": false,
                  "motorista_mulher": false,
                  "aceita_animais": false,
                  "aceita_encomendas": false,
                  "com_retorno": false,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "condutor": {
                  "tipo_identificacao": false,
                  "identificacao": false
                },
                "partida": {
                  "endereco": "Rua da Assembléia, 10",
                  "complemento": 2513,
                  "bairro": "Centro",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo à ALERJ",
                  "lat": -22.9042273,
                  "lng": -43.1774399
                },
                "desejado": {
                  "endereco": "Praça General Tibúrcio, 80",
                  "complemento": "1 andar",
                  "bairro": "Urca",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo ao Pão de Açúcar",
                  "lat": -22.9205645,
                  "lng": -43.2325781
                },
                "paradas": [
                  {
                    "endereco_parada": "Rua do ouvidor, 100",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903299,
                    "lng_parada": -43.177582
                  },
                  {
                    "endereco_parada": "Rua do rosário, 305",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903965,
                    "lng_parada": -43.180185
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Corrida criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id_mch": "100018556",
                    "tipo": "normal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/consultar": {
      "post": {
        "summary": "Consultar corridas",
        "description": "Retorna as solicitações da central conforme os filtros informados. O intervalo máximo aceito entre `data_hora_solicitacao_min` e `data_hora_solicitacao_max` é de 30 dias. Para acessar este endpoint, o usuário precisa ter a permissão `API - Corrida`.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pagina": {
                    "type": "integer",
                    "description": "Página da listagem."
                  },
                  "limite": {
                    "type": "integer",
                    "description": "Quantidade de registros por página."
                  },
                  "condutor_id": {
                    "type": "integer",
                    "description": "Filtra por condutor."
                  },
                  "empresa_id": {
                    "type": "integer",
                    "description": "Filtra por empresa."
                  },
                  "cliente_id": {
                    "type": "integer",
                    "description": "Filtra por cliente."
                  },
                  "obter_filiais": {
                    "type": "boolean",
                    "description": "Inclui corridas de filiais quando permitido."
                  },
                  "data_hora_solicitacao_min": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Início do intervalo em formato ISO 8601."
                  },
                  "data_hora_solicitacao_max": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Fim do intervalo em formato ISO 8601."
                  },
                  "status_solicitacao": {
                    "type": "string",
                    "description": "Status da corrida. Caso não seja informado, todos serão considerados. Valores aceitos: Redistribuindo (`T`), Aguardando pagamento (`R`), Não atendida (`N`), Distribuindo (`D`), Em espera (`S`), Cancelada (`C`), Finalizada (`F`), Em andamento (`E`), Pendente (`P`), Aceita (`A`), Aguardando aceite (`G`), Agrupada (`U`).",
                    "enum": [
                      "T",
                      "R",
                      "N",
                      "D",
                      "S",
                      "C",
                      "F",
                      "E",
                      "P",
                      "A",
                      "G",
                      "U"
                    ]
                  },
                  "tipo_pagamento": {
                    "type": "string",
                    "description": "Tipo de pagamento selecionado pelo cliente. Caso não seja informado, todos serão considerado. Valores aceitos: Dinheiro (`D`), Débito (máquina) (`B`), Crédito máquina (`C`), eTicket (`T`), Voucher (`V`), Pix (`X`), Picpay (`P`), Whatsapp (`H`), Cartão via app (`A`), Faturado (`F`), Pix via app (`I`), Carteira de créditos (`R`).",
                    "enum": [
                      "D",
                      "B",
                      "C",
                      "T",
                      "V",
                      "X",
                      "P",
                      "H",
                      "A",
                      "F",
                      "I",
                      "R"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "100018001",
                      "data_hora_solicitacao": "2024-05-02 08:53:42",
                      "data_hora_chegada_local": null,
                      "status_solicitacao": "N",
                      "cliente_id": "83605",
                      "nome_passageiro": "Rogério Barreto",
                      "empresa_id": null,
                      "bandeira_chamada_id": "8",
                      "data_hora_aceite": null,
                      "data_hora_finalizacao": null,
                      "data_hora_cancelamento": null,
                      "data_hora_pendencia": "2024-05-02 08:53:49",
                      "distancia_coleta_km": null,
                      "valor_corrida": "7.00",
                      "condutor_especificado": false,
                      "com_retorno": false,
                      "condutor_id": "",
                      "nome_condutor": "",
                      "telefone_condutor": "",
                      "veiculo": "",
                      "placa_veiculo": "",
                      "cor_veiculo": null,
                      "duracao_corrida": "0",
                      "distancia_percorrida_km": "0",
                      "taxas_cancelamento": null,
                      "paradas": []
                    },
                    {
                      "id": "100018035",
                      "data_hora_solicitacao": "2024-05-03 09:36:44",
                      "data_hora_chegada_local": null,
                      "status_solicitacao": "N",
                      "cliente_id": "83316",
                      "nome_passageiro": "Maria Andreia",
                      "bandeira_chamada_id": "8",
                      "data_hora_aceite": null,
                      "data_hora_finalizacao": null,
                      "data_hora_cancelamento": null,
                      "data_hora_pendencia": "2024-05-03 09:36:45",
                      "distancia_coleta_km": null,
                      "valor_corrida": "10.50",
                      "condutor_especificado": false,
                      "com_retorno": false,
                      "condutor_id": "",
                      "nome_condutor": "",
                      "telefone_condutor": "",
                      "veiculo": "",
                      "placa_veiculo": "",
                      "cor_veiculo": null,
                      "duracao_corrida": "0",
                      "distancia_percorrida_km": "0",
                      "taxas_cancelamento": null,
                      "partida": {
                        "endereco": "Rua Altaneira",
                        "complemento": null,
                        "referencia": null,
                        "bairro": "Campo Grande",
                        "cidade": "Rio de Janeiro",
                        "estado": "RJ",
                        "lat": "-22.8743056",
                        "lng": "-43.5626744"
                      },
                      "paradas": [
                        {
                          "id": "896",
                          "endereco": "Praia do Arpoador",
                          "complemento": "",
                          "bairro": "Arpoador",
                          "cidade": "Rio de Janeiro",
                          "uf": "RJ",
                          "lat": "-22.988420900610592",
                          "lng": "-43.1934916318077",
                          "ordem": 0,
                          "numero_pedido": "2"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/funcionarios": {
      "get": {
        "summary": "Listar funcionários da empresa",
        "description": "Lista funcionários por empresa ou por centro de custo.",
        "parameters": [
          {
            "name": "empresa_id",
            "in": "query",
            "description": "Obrigatório quando `centro_custo_id` não for informado. Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "centro_custo_id",
            "in": "query",
            "description": "Opcional. Centro de custo para filtro; quando informado, pode dispensar `empresa_id`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Opcional. Página da listagem.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Opcional. Quantidade de registros por página.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "nome": "João Pedro",
                      "email": "jaopedro@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": "400.00",
                      "saldo": "0.00"
                    },
                    {
                      "nome": "Maria Vitória",
                      "email": "mariavitoria@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": null,
                      "saldo": "0.00"
                    },
                    {
                      "nome": "Ronaldo da Silva",
                      "email": "ronaldosilva@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": null,
                      "saldo": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/{id}/centros-custo": {
      "get": {
        "summary": "Listar centros de custo da empresa",
        "description": "Lista centros de custo de uma empresa para uso no domínio de corridas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da listagem.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Administrativo",
                      "limite_mensal": "10000.00"
                    },
                    {
                      "id": "25",
                      "nome": "CEO",
                      "limite_mensal": "1500000.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/{id}/estimativas": {
      "post": {
        "summary": "Estimar corrida para empresa",
        "description": "Calcula estimativa de corrida no contexto da empresa informada na URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lat_partida": {
                    "type": "number"
                  },
                  "lng_partida": {
                    "type": "number"
                  },
                  "endereco_partida": {
                    "type": "string"
                  },
                  "bairro_partida": {
                    "type": "string"
                  },
                  "cidade_partida": {
                    "type": "string"
                  },
                  "estado_partida": {
                    "type": "string"
                  },
                  "lat_desejado": {
                    "type": "number"
                  },
                  "lng_desejado": {
                    "type": "number"
                  },
                  "endereco_desejado": {
                    "type": "string"
                  },
                  "bairro_desejado": {
                    "type": "string"
                  },
                  "cidade_desejado": {
                    "type": "string"
                  },
                  "estado_desejado": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "multicategorias": {
                    "type": "boolean",
                    "description": "Quando multicategorias é true, a API calcula a estimativa de múltiplas categorias."
                  },
                  "latlng_paradas": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "lat_partida": -22.904445,
                "lng_partida": -43.175508,
                "endereco_partida": "Rua da Assembleia, 10",
                "bairro_partida": "Centro",
                "cidade_partida": "Rio de Janeiro",
                "estado_partida": "RJ",
                "lat_desejado": -22.90789,
                "lng_desejado": -43.177878,
                "endereco_desejado": "Rua do Rosário, 320",
                "bairro_desejado": "Centro",
                "cidade_desejado": "Rio de Janeiro",
                "estado_desejado": "RJ",
                "multicategorias": true,
                "latlng_paradas": "-22.904434,-43.175555|-22.912385,-43.226663"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "estimativa_minutos": 30,
                    "estimativa_km": 13.99,
                    "categorias": [
                      {
                        "estimativa_valor": 40,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 22,
                        "categoria_nome": "15 Reais",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/estimativas": {
      "post": {
        "summary": "Estimar corrida",
        "description": "Calcula estimativa de corrida simples ou multicategorias a partir de coordenadas ou endereço. Quando `multicategorias` é `true`, a API calcula a estimativa de múltiplas categorias.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lat_partida": {
                    "type": "number"
                  },
                  "lng_partida": {
                    "type": "number"
                  },
                  "endereco_partida": {
                    "type": "string"
                  },
                  "bairro_partida": {
                    "type": "string"
                  },
                  "cidade_partida": {
                    "type": "string"
                  },
                  "estado_partida": {
                    "type": "string"
                  },
                  "lat_desejado": {
                    "type": "number"
                  },
                  "lng_desejado": {
                    "type": "number"
                  },
                  "endereco_desejado": {
                    "type": "string"
                  },
                  "bairro_desejado": {
                    "type": "string"
                  },
                  "cidade_desejado": {
                    "type": "string"
                  },
                  "estado_desejado": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "categoria_nome": {
                    "type": "string"
                  },
                  "empresa_id": {
                    "type": "integer"
                  },
                  "latlng_paradas": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  },
                  "hora": {
                    "type": "string"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "multicategorias": {
                    "type": "boolean",
                    "description": "Quando multicategorias é true, a API calcula a estimativa de múltiplas categorias."
                  }
                }
              },
              "example": {
                "lat_partida": -22.904445,
                "lng_partida": -43.175508,
                "endereco_partida": "Rua da Assembleia, 10",
                "bairro_partida": "Centro",
                "cidade_partida": "Rio de Janeiro",
                "estado_partida": "RJ",
                "lat_desejado": -22.90789,
                "lng_desejado": -43.177878,
                "endereco_desejado": "Rua do Rosário, 320",
                "bairro_desejado": "Centro",
                "cidade_desejado": "Rio de Janeiro",
                "estado_desejado": "RJ",
                "multicategorias": true,
                "latlng_paradas": "-22.904434,-43.175555|-22.912385,-43.226663"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "estimativa_minutos": 30,
                    "estimativa_km": 13.99,
                    "categorias": [
                      {
                        "estimativa_valor": 40,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 22,
                        "categoria_nome": "15 Reais",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/programadas": {
[...]
