{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração v2 - Corridas",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/v2/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/v2/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Obrigatório. Sua chave API."
      }
    },
    "schemas": {
      "ErroItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Código de erro de negócio da bandeira. `0` quando o erro é apenas de validação de campo — nesse caso o campo problemático vem identificado entre aspas simples no início de `message`."
          },
          "message": {
            "type": "string",
            "description": "Mensagem legível do erro, já traduzida para o idioma da bandeira."
          }
        }
      },
      "RespostaErro400": {
        "type": "object",
        "description": "Algum campo obrigatório está ausente, ou um campo enviado tem tipo/formato inválido (ex.: string onde se espera número, item de `enum` fora da lista aceita, array acima do tamanho máximo). `errors` traz um item por campo reprovado; `code` é sempre `0`. Nota: o HTTP status (400) NÃO aparece no corpo — só no header de status da resposta.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErroItem"
            }
          }
        },
        "example": {
          "success": false,
          "errors": [
            {
              "code": 0,
              "message": "'partida.bairro': Preenchimento obrigatório."
            }
          ]
        }
      },
      "RespostaErroNaoEncontrado": {
        "type": "object",
        "description": "O recurso referenciado (corrida, corrida programada, empresa, categoria, centro de custo) não existe ou não pertence à bandeira autenticada. `code` identifica qual entidade não foi encontrada — os códigos possíveis para cada operação estão descritos na sua própria documentação. Nota: o HTTP status (404) NÃO aparece no corpo — só no header de status da resposta.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErroItem"
            }
          }
        },
        "example": {
          "success": false,
          "errors": [
            {
              "code": 25,
              "message": "Corrida não encontrada."
            }
          ]
        }
      },
      "RespostaErroServidor": {
        "type": "object",
        "description": "Falha inesperada no processamento da requisição, sem relação com os dados enviados. Nota: o HTTP status (500) NÃO aparece no corpo — só no header de status da resposta.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErroItem"
            }
          }
        },
        "example": {
          "success": false,
          "errors": [
            {
              "code": 0,
              "message": "Falha na operação."
            }
          ]
        }
      },
      "LinkHateoas": {
        "type": "object",
        "description": "Link HATEOAS: ação relacionada disponível a partir deste recurso.",
        "properties": {
          "href": {
            "type": "string",
            "description": "Caminho do endpoint relacionado, relativo à base da API v2. Placeholders de path aparecem como `{id}`."
          },
          "metodo": {
            "type": "string",
            "enum": [
              "get",
              "post",
              "put",
              "patch",
              "delete"
            ]
          }
        }
      },
      "DadosCadastroCorrida": {
        "type": "object",
        "required": [
          "codigo_pais",
          "codigo_area",
          "telefone"
        ],
        "properties": {
          "codigo_pais": {
            "type": "integer",
            "description": "DDI do telefone, sem sinal (ex.: `55`)."
          },
          "codigo_area": {
            "type": "integer",
            "description": "DDD do telefone."
          },
          "telefone": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "Telefone sem DDD/DDI, usado para identificar/cadastrar o passageiro na bandeira."
          }
        }
      },
      "DadosPassageiroCorrida": {
        "type": "object",
        "required": [
          "codigo_pais",
          "codigo_area",
          "telefone"
        ],
        "properties": {
          "codigo_pais": {
            "type": "integer"
          },
          "codigo_area": {
            "type": "integer"
          },
          "telefone": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "nome": {
            "type": "string",
            "description": "Nome do passageiro exibido ao condutor."
          }
        }
      },
      "EmpresaCorrida": {
        "type": "object",
        "description": "Contexto de empresa/centro de custo da corrida. Quando este objeto é informado, `id`, `cadastrar_funcionario` e `centro_custo_id` passam a ser obrigatórios.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador da empresa (ver `GET /empresas`)."
          },
          "cadastrar_funcionario": {
            "type": "boolean",
            "description": "Quando `true`, cadastra o passageiro (`dados_passageiro`) como funcionário da empresa se ele ainda não existir."
          },
          "centro_custo_id": {
            "type": "integer",
            "description": "Centro de custo (ver `GET /corridas/empresas/{id}/centros-custo`) ao qual a corrida será debitada."
          }
        }
      },
      "EnderecoCorrida": {
        "type": "object",
        "properties": {
          "endereco": {
            "type": "string"
          },
          "bairro": {
            "type": "string"
          },
          "cidade": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "complemento": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "referencia": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          }
        }
      },
      "ExtrasCorrida": {
        "type": "object",
        "description": "Filtros/exigências de veículo ou condutor para a corrida.",
        "properties": {
          "porta_malas_grande": {
            "type": "boolean"
          },
          "veiculo_a_disposicao": {
            "type": "boolean"
          },
          "adaptado_cadeirante": {
            "type": "boolean"
          },
          "motorista_mulher": {
            "type": "boolean"
          },
          "aceita_animais": {
            "type": "boolean"
          },
          "aceita_encomendas": {
            "type": "boolean"
          },
          "com_retorno": {
            "type": "boolean"
          },
          "filtro_1": {
            "type": "boolean"
          },
          "filtro_2": {
            "type": "boolean"
          },
          "filtro_3": {
            "type": "boolean"
          },
          "filtro_4": {
            "type": "boolean"
          },
          "filtro_5": {
            "type": "boolean"
          },
          "filtro_6": {
            "type": "boolean"
          }
        }
      },
      "CondutorIdentificacaoCorrida": {
        "type": "object",
        "description": "Especifica um condutor para a corrida. Quando informado, ambos os campos são obrigatórios.",
        "properties": {
          "tipo_identificacao": {
            "type": "string",
            "enum": [
              "C",
              "V",
              "T",
              "P",
              "I"
            ],
            "description": "Como `identificacao` deve ser interpretado: `C` = CPF, `V` = VTR, `T` = telefone, `P` = placa do veículo, `I` = id do condutor na bandeira."
          },
          "identificacao": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Valor correspondente a `tipo_identificacao`. Numérico quando `tipo_identificacao` é `I`; string nos demais casos (CPF, VTR, telefone ou placa)."
          }
        }
      },
      "ParadaCorrida": {
        "type": "object",
        "properties": {
          "endereco_parada": {
            "type": "string"
          },
          "bairro_parada": {
            "type": "string"
          },
          "cidade_parada": {
            "type": "string"
          },
          "estado_parada": {
            "type": "string"
          },
          "lat_parada": {
            "type": "number"
          },
          "lng_parada": {
            "type": "number"
          }
        }
      }
    },
    "responses": {
      "Erro400": {
        "description": "Campo obrigatório ausente ou com tipo/formato inválido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RespostaErro400"
            }
          }
        }
      },
      "Erro404": {
        "description": "Recurso não encontrado. Veja na descrição da operação quais códigos de erro (`code`) ela pode retornar.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RespostaErroNaoEncontrado"
            }
          }
        }
      },
      "Erro500": {
        "description": "Erro interno inesperado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RespostaErroServidor"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/clientes": {
      "get": {
        "summary": "Obter clientes",
        "description": "Quando acionada, são retornados todos os clientes da central conforme os parâmetros informados.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do cliente. Quando informado, a busca é direta: os demais filtros são ignorados e a resposta retorna o registro encontrado sem paginação.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Filtra pelo telefone do cliente (com ou sem máscara). Busca direta: ignora `status_cliente` e não é paginado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "Filtra pelo CPF do cliente (com ou sem máscara). Busca direta: ignora `status_cliente` e não é paginado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filtra pelo e-mail exato do cliente. Retorna 400 se não for um e-mail válido. Busca direta: ignora `status_cliente` e não é paginado.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "description": "Filtra pelo nome do cliente (busca parcial). Mínimo de 3 caracteres. Ignora `status_cliente`, mas continua paginado por `limite`/`pagina`.",
            "schema": {
              "type": "string",
              "minLength": 3
            }
          },
          {
            "name": "status_cliente",
            "in": "query",
            "description": "Filtra os clientes pelo status:\n\nA: Ativo\nI: Inativo\nS: Suspenso\nG: Aguardando ativação\nB: Bloqueado\nD: Deletado\nN: Suspenso por nota\nE: Aguardando deleção\n\nIgnorado quando `id`, `telefone`, `cpf`, `email` ou `nome` é informado.",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "I",
                "S",
                "G",
                "B",
                "D",
                "N",
                "E"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de clientes retornados por página. O padrão é 20.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ultimo_acesso_apos",
            "in": "query",
            "description": "Filtra clientes com último acesso ao app a partir desta data (inclusive). Formato ISO-8601 UTC. É um filtro de segmento: preserva a paginação e é combinável com `status_cliente`. Exclui clientes com último acesso nulo — para buscar quem nunca acessou o app, use `nunca_acessou`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ultimo_acesso_antes_de",
            "in": "query",
            "description": "Filtra clientes com último acesso ao app antes desta data (exclusive). Formato ISO-8601 UTC. É um filtro de segmento: preserva a paginação e é combinável com `status_cliente`. Exclui clientes com último acesso nulo — para buscar quem nunca acessou o app, use `nunca_acessou`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "nunca_acessou",
            "in": "query",
            "description": "Quando `true` ou `1`, retorna somente os clientes que nunca acessaram o app (último acesso nulo).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null,
                      "foto_url": "https://s3.amazonaws.com/exemplo-bucket/fotos/cliente-1.jpg?X-Amz-Expires=...",
                      "token_atualizado_em": "2026-08-20T13:45:00Z",
                      "ultimo_acesso_em": "2026-08-19T22:10:00Z",
                      "data_nascimento": "1990-05-12",
                      "data_hora_ultima_estimativa": "2026-08-18T10:00:00Z",
                      "quantidade_corridas_finalizadas": 42,
                      "data_hora_ultima_solicitacao": "2026-08-19T20:00:00Z"
                    }
                  ],
                  "__links": {
                    "self": {
                      "href": "/clientes",
                      "metodo": "get"
                    },
                    "visualizar-cliente": {
                      "href": "/clientes/{id}",
                      "metodo": "get"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Retornado quando `id` é informado e nenhum cliente é encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespostaErroNaoEncontrado"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Cliente não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clientes/{id}": {
      "get": {
        "summary": "Obter cliente",
        "description": "Retorna os detalhes de um cliente específico através do seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null,
                      "foto_url": "https://s3.amazonaws.com/exemplo-bucket/fotos/cliente-1.jpg?X-Amz-Expires=...",
                      "token_atualizado_em": "2026-08-20T13:45:00Z",
                      "ultimo_acesso_em": "2026-08-19T22:10:00Z",
                      "data_nascimento": "1990-05-12",
                      "data_hora_ultima_estimativa": "2026-08-18T10:00:00Z",
                      "quantidade_corridas_finalizadas": 42,
                      "data_hora_ultima_solicitacao": "2026-08-19T20:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "Cliente não encontrado."
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/condutores": {
      "get": {
        "summary": "Listar condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`. Se nenhum condutor corresponder aos filtros informados, a API retorna 404 em vez de 200 com lista vazia.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado.\n\nA: Ativo\nE: Em análise\nF: Fila de espera\nI: Inativo\nS: Suspenso\nR: Rejeitado\nD: Deletado",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que deseja visualizar as informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara, por exemplo: `123.456.789-09` ou `12345`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filtra pelo email do condutor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "description": "Filtra pelo nome do condutor. Deve ter no mínimo 3 caracteres.",
            "schema": {
              "type": "string",
              "minLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Lemuel Tunnel",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Toledo",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Jamaica",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Trantow Trail",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Romagueraside",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "El Salvador",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/areas-bloqueio/batch": {
      "put": {
        "summary": "Atualizar áreas de bloqueio em lote",
        "description": "Atualiza em lote as áreas de bloqueio de um conjunto de condutores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutores",
                  "areas_bloqueio"
                ],
                "properties": {
                  "condutores": {
                    "type": "array",
                    "description": "Lista de IDs numéricos de condutores. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "areas_bloqueio": {
                    "type": "array",
                    "description": "Lista de IDs numéricos das áreas de bloqueio. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "condutores": [
                  5574,
                  5575
                ],
                "areas_bloqueio": [
                  24,
                  124
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação. Mensagens de erro da V1 são normalizadas: termos como 'motoristas'/'entregadores'/'taxistas'/'mototaxistas' são sempre substituídos por 'condutores'.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Nenhum dos condutores informados foi encontrado."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/condutores/creditos/recargas": {
      "post": {
        "summary": "Recarregar créditos do condutor",
        "description": "Realiza uma recarga de créditos para um condutor identificado por tipo e valor de identificação. Erros de negócio retornados pela V1 chegam promovidos a `errors` de nível superior da resposta.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico da recarga."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 100.5,
                "observacao": "Recarga promocional",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "108"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/saldo": {
      "get": {
        "summary": "Consultar saldo de créditos do condutor",
        "description": "Consulta o saldo de créditos de um condutor identificado por tipo e valor de identificação. O código de erro de origem pode ser 56 (condutor não encontrado) ou 6 (identificação não encontrada); ambos são convertidos para 404 com a mesma mensagem final.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "saldo": 587.69
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "I"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "5574"
            }
          }
        ]
      }
    },
    "/condutores/creditos/saques": {
      "post": {
        "summary": "Sacar créditos do condutor",
        "description": "Realiza um saque de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico do saque."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 50.25,
                "observacao": "Saque solicitado pelo parceiro",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "26"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/documentos": {
      "get": {
        "summary": "Consultar documentos do condutor",
        "description": "Retorna os documentos cadastrados do condutor. O tipo de identificação pode ser CPF (C), viatura (V), telefone (T), placa do veículo (P) ou identificador do condutor (I).",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "tipo": "ZG9jXzg",
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "url_foto": "/api/foto?user_id=993&id=896"
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "C"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "123.456.789-09"
            }
          }
        ]
      }
    },
    "/condutores/requisitos-cadastro/documentos": {
      "get": {
        "summary": "Consultar requisitos de documentos para cadastro",
        "description": "Retorna os documentos necessários para o cadastro do condutor.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "Alvará de táxi",
                        "tipo": "ZG9jXzEy",
                        "ativo": false
                      },
                      {
                        "nome": "Certidão de antecedentes criminais",
                        "tipo": "ZG9jXzEx",
                        "ativo": true
                      },
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 6
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "enum_invalido": {
                    "summary": "Enum inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'tipo_identificacao': Deve estar dentre os valores: C, V, T, P, I"
                        }
                      ]
                    }
                  },
                  "corpo_incompleto": {
                    "summary": "Parâmetros obrigatórios ausentes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'tipo_identificacao': Preenchimento obrigatório"
                        },
                        {
                          "code": 2,
                          "message": "'identificacao': Preenchimento obrigatório"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tipo_identificacao",
            "in": "query",
            "required": true,
            "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "V",
                "T",
                "P",
                "I"
              ],
              "example": "I"
            }
          },
          {
            "name": "identificacao",
            "in": "query",
            "required": true,
            "description": "Valor da identificação conforme o tipo informado.",
            "schema": {
              "type": "string",
              "example": "5574"
            }
          }
        ]
      }
    },
    "/condutores/{id}": {
      "get": {
        "summary": "Obter condutor",
        "description": "Retorna um condutor da central conforme o ID informado. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`. Observação: o campo `data` é retornado como array contendo um único objeto (não um objeto direto), refletindo o formato do endpoint V1 subjacente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "categorias": [
                        {
                          "id": 1,
                          "nome": "Categoria 1"
                        }
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": "",
                      "foto_url": "https://s3.amazonaws.com/exemplo-bucket/fotos/condutor-5574.jpg?X-Amz-Expires=..."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      },
      "patch": {
        "summary": "Atualizar condutor parcialmente",
        "description": "Atualiza parcialmente os dados do condutor. Envie apenas o ID e os campos que deseja alterar.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do condutor."
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do condutor.",
                    "enum": [
                      "M",
                      "F",
                      "O",
                      "N"
                    ]
                  },
                  "data_nascimento": {
                    "type": "string",
                    "description": "Data de nascimento do condutor."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do condutor."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone do condutor."
                  },
                  "status_condutor": {
                    "type": "string",
                    "description": "Status do condutor.",
                    "enum": [
                      "A",
                      "E",
                      "F",
                      "I",
                      "S",
                      "R",
                      "D"
                    ]
                  },
                  "endereco": {
                    "type": "string",
                    "description": "Logradouro do condutor."
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número do endereço do condutor."
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento do endereço."
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do condutor."
                  },
                  "cpf": {
                    "type": "string",
                    "description": "CPF do condutor, com ou sem máscara."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do condutor, com ou sem máscara."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo. Quando `true`, o campo `vinculo` passa a ser obrigatório."
                  },
                  "vinculo": {
                    "type": "string",
                    "description": "Tipo de vínculo. Obrigatório apenas quando `possui_vinculo` = true.",
                    "enum": [
                      "T",
                      "A"
                    ]
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "description": "Tipo do veículo do condutor.",
                    "enum": [
                      "C",
                      "M",
                      "T",
                      "B"
                    ]
                  },
                  "placa": {
                    "type": "string",
                    "description": "Placa do veículo."
                  },
                  "modelo": {
                    "type": "string",
                    "description": "Modelo do veículo."
                  },
                  "ano_modelo": {
                    "type": "integer",
                    "description": "Ano do modelo do veículo."
                  },
                  "cor": {
                    "type": "string",
                    "description": "Cor do veículo."
                  },
                  "porta_malas_grande": {
                    "type": "boolean",
                    "description": "Indica se o veículo possui porta-malas grande."
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean",
                    "description": "Indica se o veículo é adaptado para cadeirante."
                  },
                  "numero_viatura": {
                    "type": "integer",
                    "description": "Número da viatura."
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "description": "Lista de tipos de pagamento aceitos.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "D",
                        "B",
                        "C",
                        "T",
                        "V",
                        "X",
                        "P",
                        "H",
                        "A",
                        "F",
                        "I",
                        "R"
                      ]
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "description": "Bloco de exigências operacionais do condutor.",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais do condutor."
                  },
                  "observacao_interna_1": {
                    "type": "string",
                    "description": "Observação interna 1."
                  },
                  "observacao_interna_2": {
                    "type": "string",
                    "description": "Observação interna 2."
                  },
                  "observacao_interna_3": {
                    "type": "string",
                    "description": "Observação interna 3."
                  },
                  "cep": {
                    "type": "string",
                    "description": "CEP do condutor, com ou sem máscara."
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "pagamentos": [
                  "B",
                  "X"
                ],
                "observacao_interna_1": "Documentação revisada"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 2,
                      "message": "'nome': Preenchimento obrigatório"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      },
      "put": {
        "summary": "Atualizar condutor completo",
        "description": "Atualiza completamente os dados do condutor. Todos os campos do corpo são obrigatórios, com exceção da regra entre `cpf` e `cnpj`: é obrigatório enviar pelo menos um dos dois.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "sexo",
                  "data_nascimento",
                  "email",
                  "telefone",
                  "status_condutor",
                  "endereco",
                  "endereco_numero",
                  "complemento",
                  "cep",
                  "bairro",
                  "possui_vinculo",
                  "veiculo_tipo",
                  "placa",
                  "modelo",
                  "ano_modelo",
                  "cor",
                  "porta_malas_grande",
                  "adaptado_cadeirante",
                  "numero_viatura",
                  "categorias",
                  "pagamentos",
                  "exigencia",
                  "informacoes_adicionais",
                  "observacao_interna_1",
                  "observacao_interna_2",
                  "observacao_interna_3"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  },
                  "sexo": {
                    "type": "string",
                    "enum": [
                      "M",
                      "F",
                      "O",
                      "N"
                    ]
                  },
                  "data_nascimento": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "telefone": {
                    "type": "string"
                  },
                  "status_condutor": {
                    "type": "string",
                    "enum": [
                      "A",
                      "E",
                      "F",
                      "I",
                      "S",
                      "R",
                      "D"
                    ]
                  },
                  "endereco": {
                    "type": "string"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Obrigatório se `cnpj` não for enviado."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Obrigatório se `cpf` não for enviado."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo. Quando `true`, o campo `vinculo` passa a ser obrigatório."
                  },
                  "vinculo": {
                    "type": "string",
                    "enum": [
                      "T",
                      "A"
                    ],
                    "description": "Tipo de vínculo. Obrigatório apenas quando `possui_vinculo` = true."
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "enum": [
                      "C",
                      "M",
                      "T",
                      "B"
                    ]
                  },
                  "placa": {
                    "type": "string"
                  },
                  "modelo": {
                    "type": "string"
                  },
                  "ano_modelo": {
                    "type": "integer"
                  },
                  "cor": {
                    "type": "string"
                  },
                  "porta_malas_grande": {
                    "type": "boolean"
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean"
                  },
                  "numero_viatura": {
                    "type": "integer"
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "D",
                        "B",
                        "C",
                        "T",
                        "V",
                        "X",
                        "P",
                        "H",
                        "A",
                        "F",
                        "I",
                        "R"
                      ]
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string"
                  },
                  "observacao_interna_1": {
                    "type": "string"
                  },
                  "observacao_interna_2": {
                    "type": "string"
                  },
                  "observacao_interna_3": {
                    "type": "string"
                  },
                  "endereco_numero": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número do endereço do condutor."
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "sexo": "F",
                "data_nascimento": "1990-04-18",
                "email": "lara@exemplo.com",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "endereco": "Rua Exemplo",
                "complemento": "Apto 45",
                "cep": "20000-000",
                "bairro": "Centro",
                "cpf": "123.456.789-09",
                "possui_vinculo": true,
                "vinculo": "T",
                "veiculo_tipo": "C",
                "placa": "ABC1D23",
                "modelo": "Sedan",
                "ano_modelo": 2023,
                "cor": "Branco",
                "porta_malas_grande": true,
                "adaptado_cadeirante": false,
                "numero_viatura": 202,
                "categorias": [
                  1,
                  2
                ],
                "pagamentos": [
                  "D",
                  "B",
                  "X"
                ],
                "exigencia": {
                  "veiculo_a_disposicao": false,
                  "aceita_encomendas": true,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "informacoes_adicionais": "Disponível para corridas corporativas",
                "observacao_interna_1": "Cadastro atualizado",
                "endereco_numero": "123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo obrigatório ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'nome': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "cpf_ou_cnpj_ausente": {
                    "summary": "Nem cpf nem cnpj informado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Deve ser enviado o campo cpf ou cnpj."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/condutores/{id}/areas-permissao": {
      "post": {
        "summary": "Vincular área de permissão ao condutor",
        "description": "Vincula um condutor a uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "area_id"
                ],
                "properties": {
                  "area_id": {
                    "type": "integer",
                    "description": "Identificador numérico da área de permissão."
                  }
                }
              },
              "example": {
                "area_id": 24
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 2,
                      "message": "'area_id': Preenchimento obrigatório"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      },
      "delete": {
        "summary": "Desvincular área de permissão do condutor",
        "description": "Desvincula um condutor de uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/condutores/{id}/documentos/atualizar": {
      "post": {
        "summary": "Atualizar documento do condutor",
        "description": "Atualiza um documento específico do condutor com upload de arquivo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo",
                  "foto"
                ],
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Código do tipo de documento a ser atualizado. Deve ser o valor do campo `tipo` retornado por `GET /condutores/documentos` ou `GET /condutores/requisitos-cadastro/documentos` (ex.: `ZG9jXzg`)."
                  },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento enviado por `multipart/form-data`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Foto alterada com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/configuracoes": {
      "patch": {
        "summary": "Atualizar configurações",
        "description": "Permite alterar as configurações da sua central. Atenção: itens de `errors[]` podem vir em DOIS formatos: `{code, message}` (erros de validação de formato) ou `{field, error}` (regras de negócio validadas pela central v1, ex.: distância/limite exigindo outra configuração habilitada, ou recurso não licenciado).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permitir_solicitacao_espera": {
                    "type": "boolean",
                    "description": "Opcional. Indica se deve habilitar as solicitações em espera. Use `true` para habilitar e `false` para desabilitar."
                  },
                  "distancia_km_solicitacao_espera": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.25,
                    "maximum": 10,
                    "description": "Opcional. Distância em quilômetros entre o ponto atual do condutor e o destino informado de finalização da corrida para que o condutor receba uma solicitação em espera. Aceita valores entre `0.25` e `10.0`. Só é aceito se `permitir_solicitacao_espera` for `true` — informado nesta mesma requisição ou já habilitado anteriormente na central; caso contrário retorna 400. Disponível apenas para centrais com o recurso de solicitação em espera contratado no plano."
                  },
                  "limite_cancelamentos_permitidos": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Opcional. Quantidade limite de cancelamentos permitidos pelo condutor. A configuração `Habilita a punição por cancelamentos` deve estar habilitada."
                  }
                }
              },
              "example": {
                "permitir_solicitacao_espera": true,
                "distancia_km_solicitacao_espera": 0.25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Central modificada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "body_vazio": {
                    "summary": "Body vazio",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'body': Informe ao menos um campo para atualização."
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Booleano inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'permitir_solicitacao_espera': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "distancia_fora_intervalo": {
                    "summary": "Distância fora do intervalo",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'distancia_km_solicitacao_espera': Deve estar entre 0.25 e 10.0."
                        }
                      ]
                    }
                  },
                  "limite_invalido": {
                    "summary": "Limite inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'limite_cancelamentos_permitidos': Deve ser um inteiro maior ou igual a 0."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  },
                  "distancia_sem_espera_habilitada": {
                    "summary": "Distância enviada sem permitir_solicitacao_espera habilitado (formato alternativo {field, error})",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "field": "distancia_km_solicitacao_espera",
                          "error": "O permitir solicitações em espera está desabilitado."
                        }
                      ]
                    }
                  },
                  "limite_sem_controle_habilitado": {
                    "summary": "Controle de cancelamentos desabilitado (formato alternativo {field, error})",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "field": "limite_cancelamentos_permitidos",
                          "error": "O controle de cancelamentos está desabilitado."
                        }
                      ]
                    }
                  },
                  "funcionalidade_nao_licenciada": {
                    "summary": "Recurso não disponível para a licença da central",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "field": "permitir_solicitacao_espera",
                          "error": "O campo Permitir que os condutores recebam uma corrida em espera não está disponível para a sua licença."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/configuracoes/areas-geograficas": {
      "get": {
        "summary": "Listar áreas geográficas",
        "description": "Responsável por listar as áreas de bloqueio disponíveis para central.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Default 20, max 100. Valores fora do intervalo [1, 100] não geram erro — o backend ignora o valor enviado e usa o default de 20 silenciosamente.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Default 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "24",
                      "nome": "Área 33"
                    },
                    {
                      "id": "124",
                      "nome": "Campo Santana"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/configuracoes/categorias": {
      "get": {
        "summary": "Listar categorias",
        "description": "Retorna as categorias ativas da central. Caso seja informada uma localização pertencente a uma filial, serão retornadas as categorias ativas da filial. Caso seja informada a latitude e longitude, não é necessário passar as demais informações.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Obrigatório se lng for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Obrigatório se lat for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "description": "Não obrigatório",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "71",
                      "nome": "Comum"
                    },
                    {
                      "id": "162",
                      "nome": "15 Reais"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 14,
                      "message": "Não foi possível determinar a geolocalização do passageiro pelo endereço informado."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/configuracoes/categorias/{id}": {
      "put": {
        "summary": "Atualizar categoria",
        "description": "Permite atualizar os dados de uma categoria da central.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id da categoria Deve pertencer à central autenticada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibir_no_app": {
                    "type": "boolean",
                    "description": "Indica se a categoria deve ser exibida no app. Se true, exibe a categoria no aplicativo. Se false, a categoria deixa de ser exibida no aplicativo."
                  }
                },
                "required": [
                  "exibir_no_app"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Categoria modificada com sucesso!"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "'body': Informe ao menos um campo para atualização."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          },
          "404": {
            "description": "Categoria não encontrada",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Categoria informada não existe."
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Categoria inativa",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "A categoria informada está inativa."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/saque-automatico/ativacao": {
      "post": {
        "summary": "Ativar ou desativar saque automático",
        "description": "Ativa ou desativa o saque automático da integração autenticada. Requer que a central já tenha uma integração de saque automático (PagBanco) ativa; caso contrário retorna 400.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativar"
                ],
                "additionalProperties": false,
                "properties": {
                  "ativar": {
                    "type": "boolean",
                    "description": "Obrigatório. Informe `true` para ativar o saque automático ou `false` para desativar. Apenas os valores JSON `true`/`false` (booleano estrito) são aceitos até o fim do processamento: a validação inicial da V2 aceita variantes como `\"true\"`/`1`, mas elas falham numa etapa posterior da V1 com 400 `{\"code\": 0, \"message\": \"Formato da entrada incorreto.\"}` — envie sempre um booleano JSON nativo."
                  }
                }
              },
              "examples": {
                "ativar": {
                  "summary": "Ativar saque automático",
                  "value": {
                    "ativar": true
                  }
                },
                "desativar": {
                  "summary": "Desativar saque automático",
                  "value": {
                    "ativar": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque automático atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "ativado": {
                    "summary": "Saque automático ativado",
                    "value": {
                      "success": true,
                      "message": "Saque automático ativado"
                    }
                  },
                  "desativado": {
                    "summary": "Saque automático desativado",
                    "value": {
                      "success": true,
                      "message": "Saque automático desativado"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativar ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Preenchimento obrigatório."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_string": {
                    "summary": "Campo ativar enviado como string",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "tipo_invalido_inteiro": {
                    "summary": "Campo ativar enviado como inteiro",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativar': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "integracao_nao_encontrada": {
                    "summary": "Central sem integração de saque automático configurada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Integração com Saque automático não encontrada"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/configuracoes/tipos-documento": {
      "get": {
        "summary": "Listar tipos de documento",
        "description": "Responsável por retornar todos os documentos criados pela central.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzQ0Mg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Erro400"
          },
          "500": {
            "$ref": "#/components/responses/Erro500"
          }
        }
      }
    },
    "/corridas": {
      "post": {
        "summary": "Criar corrida",
        "description": "Cria uma corrida avulsa, aceitando dados de cadastro, passageiro, origem, destino, empresa, filtros extras, paradas e cupom de desconto (`codigo_cupom`). Quando a bandeira usa cálculo pré-fixo ou pré-variável, o valor calculado da corrida — já líquido do desconto do cupom, se houver — volta no response em `valor_corrida`, `valor_desconto` e `valor_cupom`.\n\nRegras condicionais que o schema não expressa: se `empresa` for informado, `empresa.id`, `empresa.cadastrar_funcionario` e `empresa.centro_custo_id` passam a ser obrigatórios; se `condutor` for informado, `condutor.tipo_identificacao` e `condutor.identificacao` são obrigatórios juntos.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dados_cadastro",
                  "dados_passageiro",
                  "forma_pagamento",
                  "partida"
                ],
                "properties": {
                  "id_externo": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "description": "Identificador externo da integração."
                  },
                  "dados_cadastro": {
                    "$ref": "#/components/schemas/DadosCadastroCorrida"
                  },
                  "dados_passageiro": {
                    "$ref": "#/components/schemas/DadosPassageiroCorrida"
                  },
                  "forma_pagamento": {
                    "type": "string",
                    "description": "Forma de pagamento da corrida."
                  },
                  "partida": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EnderecoCorrida"
                      }
                    ],
[...]
