{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração V2",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/v2/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/v2/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/clientes": {
      "get": {
        "summary": "Obter clientes",
        "description": "Quando acionada, são retornados todos os clientes da central conforme os parâmetros informados.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do cliente de que se deseja saber informações, caso seja informado, os demais parâmetros serão ignorados. Caso não seja informado, retornará todos os clientes conforme os limites informados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status_cliente",
            "in": "query",
            "description": "Filtra os clientes pelo status:\n\nA: Ativo\nI: Inativo\nS: Suspenso\nG: Aguardando ativação",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "I",
                "S",
                "G"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de clientes retornados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clientes/{id}": {
      "get": {
        "summary": "Obter cliente",
        "description": "Retorna os detalhes de um cliente específico através do seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do cliente",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "Cliente não encontrado."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores": {
      "get": {
        "summary": "Listar consumidores",
        "description": "Lista os consumidores da empresa do gestor autenticado, de forma paginada. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de consumidores retornados. Padrão 20, máximo 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da listagem. Padrão 1.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1,
                      "nome": "Maria",
                      "telefone": "+5544999999999"
                    }
                  ],
                  "__links": [
                    {
                      "rel": "self",
                      "href": "api/v2/integracao/consumidores",
                      "metodo": "get"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar consumidor",
        "description": "Cria um consumidor na empresa do gestor autenticado. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "telefone"
                ],
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Apenas letras, espaços e os sinais - ' . (não aceita números nem outros caracteres especiais)."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone em formato internacional E.164, ex.: +5544999999999."
                  }
                }
              },
              "example": {
                "nome": "Maria",
                "telefone": "+5544999999999"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 10,
                    "nome": "Maria"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Já existe um consumidor com este telefone."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}": {
      "get": {
        "summary": "Consultar consumidor",
        "description": "Retorna um consumidor da empresa do gestor, com seus endereços. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria",
                    "telefone": "+5544999999999",
                    "enderecos": [
                      {
                        "id": 8,
                        "endereco": "Av. Brasil, 1000",
                        "complemento": "Sala 2",
                        "bairro": "Centro",
                        "cidade": "Maringá",
                        "estado": "PR",
                        "cep": "87010000",
                        "latitude": -23.425,
                        "longitude": -51.938
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Editar consumidor",
        "description": "Edita o nome do consumidor (paridade com o site). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Maria Silva"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria Silva"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos": {
      "get": {
        "summary": "Listar endereços",
        "description": "Lista os endereços de um consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 8,
                      "endereco": "Av. Brasil, 1000",
                      "complemento": "Sala 2",
                      "bairro": "Centro",
                      "cidade": "Maringá",
                      "estado": "PR",
                      "cep": "87010000",
                      "latitude": -23.425,
                      "longitude": -51.938
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar endereço",
        "description": "Cria um endereço para um consumidor da empresa do gestor. Endereços duplicados (mesmo place_id) ou a menos de 5 metros de um já cadastrado são rejeitados. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endereco",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "endereco": "Av. Brasil, 1000",
                "complemento": "Sala 2",
                "bairro": "Centro",
                "cidade": "Maringá",
                "estado": "PR",
                "cep": "87010000",
                "latitude": -23.425,
                "longitude": -51.938,
                "place_id": "ChIJ..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "criado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "'latitude': Preenchimento obrigatório"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflito",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço já cadastrado ou muito próximo de um endereço existente."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos/{enderecoId}": {
      "patch": {
        "summary": "Editar endereço",
        "description": "Atualiza um endereço do consumidor. Apenas os campos enviados são alterados (cobre editar o endereço completo ou apenas o complemento). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "complemento": "Apto 31"
              }
            }
          },
          "description": "Atualização parcial: envie ao menos um campo para atualizar; apenas os campos enviados são alterados."
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "atualizado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Nenhum campo para atualizar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Informe ao menos um campo para atualizar."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir endereço",
        "description": "Exclui um endereço do consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Excluído",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "excluido": true
                  }
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/consultar": {
      "post": {
        "summary": "Consultar corridas",
        "description": "Retorna as solicitações da central conforme os filtros informados. O intervalo máximo aceito entre `data_hora_solicitacao_min` e `data_hora_solicitacao_max` é de 30 dias. Para acessar este endpoint, o usuário precisa ter a permissão `API - Corrida`.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pagina": {
                    "type": "integer",
                    "description": "Página da listagem."
                  },
                  "limite": {
                    "type": "integer",
                    "description": "Quantidade de registros por página."
                  },
                  "condutor_id": {
                    "type": "integer",
                    "description": "Filtra por condutor."
                  },
                  "empresa_id": {
                    "type": "integer",
                    "description": "Filtra por empresa."
                  },
                  "cliente_id": {
                    "type": "integer",
                    "description": "Filtra por cliente."
                  },
                  "obter_filiais": {
                    "type": "boolean",
                    "description": "Inclui corridas de filiais quando permitido."
                  },
                  "data_hora_solicitacao_min": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Início do intervalo em formato ISO 8601."
                  },
                  "data_hora_solicitacao_max": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Fim do intervalo em formato ISO 8601."
                  },
                  "status_solicitacao": {
                    "type": "string",
                    "description": "Status da corrida. Caso não seja informado, todos serão considerados. Valores aceitos: Redistribuindo (`T`), Aguardando pagamento (`R`), Não atendida (`N`), Distribuindo (`D`), Em espera (`S`), Cancelada (`C`), Finalizada (`F`), Em andamento (`E`), Pendente (`P`), Aceita (`A`), Aguardando aceite (`G`), Agrupada (`U`).",
                    "enum": [
                      "T",
                      "R",
                      "N",
                      "D",
                      "S",
                      "C",
                      "F",
                      "E",
                      "P",
                      "A",
                      "G",
                      "U"
                    ]
                  },
                  "tipo_pagamento": {
                    "type": "string",
                    "description": "Tipo de pagamento selecionado pelo cliente. Caso não seja informado, todos serão considerado. Valores aceitos: Dinheiro (`D`), Débito (máquina) (`B`), Crédito máquina (`C`), eTicket (`T`), Voucher (`V`), Pix (`X`), Picpay (`P`), Whatsapp (`H`), Cartão via app (`A`), Faturado (`F`), Pix via app (`I`), Carteira de créditos (`R`).",
                    "enum": [
                      "D",
                      "B",
                      "C",
                      "T",
                      "V",
                      "X",
                      "P",
                      "H",
                      "A",
                      "F",
                      "I",
                      "R"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "100018001",
                      "data_hora_solicitacao": "2024-05-02 08:53:42",
                      "data_hora_chegada_local": null,
                      "status_solicitacao": "N",
                      "cliente_id": "83605",
                      "nome_passageiro": "Rogério Barreto",
                      "empresa_id": null,
                      "bandeira_chamada_id": "8",
                      "data_hora_aceite": null,
                      "data_hora_finalizacao": null,
                      "data_hora_cancelamento": null,
                      "data_hora_pendencia": "2024-05-02 08:53:49",
                      "distancia_coleta_km": null,
                      "valor_corrida": "7.00",
                      "condutor_especificado": false,
                      "com_retorno": false,
                      "condutor_id": "",
                      "nome_condutor": "",
                      "telefone_condutor": "",
                      "veiculo": "",
                      "placa_veiculo": "",
                      "cor_veiculo": null,
                      "duracao_corrida": "0",
                      "distancia_percorrida_km": "0",
                      "taxas_cancelamento": null,
                      "paradas": []
                    },
                    {
                      "id": "100018035",
                      "data_hora_solicitacao": "2024-05-03 09:36:44",
                      "data_hora_chegada_local": null,
                      "status_solicitacao": "N",
                      "cliente_id": "83316",
                      "nome_passageiro": "Maria Andreia",
                      "bandeira_chamada_id": "8",
                      "data_hora_aceite": null,
                      "data_hora_finalizacao": null,
                      "data_hora_cancelamento": null,
                      "data_hora_pendencia": "2024-05-03 09:36:45",
                      "distancia_coleta_km": null,
                      "valor_corrida": "10.50",
                      "condutor_especificado": false,
                      "com_retorno": false,
                      "condutor_id": "",
                      "nome_condutor": "",
                      "telefone_condutor": "",
                      "veiculo": "",
                      "placa_veiculo": "",
                      "cor_veiculo": null,
                      "duracao_corrida": "0",
                      "distancia_percorrida_km": "0",
                      "taxas_cancelamento": null,
                      "partida": {
                        "endereco": "Rua Altaneira",
                        "complemento": null,
                        "referencia": null,
                        "bairro": "Campo Grande",
                        "cidade": "Rio de Janeiro",
                        "estado": "RJ",
                        "lat": "-22.8743056",
                        "lng": "-43.5626744"
                      },
                      "paradas": [
                        {
                          "id": "896",
                          "endereco": "Praia do Arpoador",
                          "complemento": "",
                          "bairro": "Arpoador",
                          "cidade": "Rio de Janeiro",
                          "uf": "RJ",
                          "lat": "-22.988420900610592",
                          "lng": "-43.1934916318077",
                          "ordem": 0,
                          "numero_pedido": "2"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/{id}": {
      "get": {
        "summary": "Consultar corrida",
        "description": "Consulta uma corrida específica pelo identificador interno da corrida.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "request_id": 1,
                    "external_id": "9605699529",
                    "full_code": "NOT_SERVED",
                    "short_code": "N",
                    "requested_at": "2025-02-17T15:03:54+00:00",
                    "manager": null,
                    "route_key": "3a9502b078d0dc0d9d2acbf97150c08e6beb469ce53cb9ea949211b52211dc8c",
                    "return_trip": false,
                    "category": "Comum",
                    "progress": {
                      "accepted_at": null,
                      "accept_lat": 0,
                      "accept_lng": 0,
                      "accept_eta_seconds": 0,
                      "accept_eta_km": 0,
                      "accept_duration_minutes": 0,
                      "accept_distance_km": 0,
                      "estimated_distance_km": 0,
                      "estimated_duration_minutes": 0,
                      "estimated_value": 0,
                      "pickup_arrival": null,
                      "arrival_at_surroundings": null,
                      "start_trip": null,
                      "pending_at": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/{id}/detalhes": {
      "get": {
        "summary": "Consultar detalhes da corrida",
        "description": "Consulta o payload detalhado de uma corrida, incluindo progresso, motorista, empresa e paradas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "request_id": 1948853,
                    "external_id": "PED-123",
                    "full_code": "ABC123456",
                    "short_code": "1234",
                    "driver": {
                      "id": 998,
                      "nome": "Condutor Exemplo"
                    },
                    "enterprise": {
                      "id": 12,
                      "nome": "Empresa Exemplo"
                    },
                    "stops": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas": {
      "post": {
        "summary": "Criar corrida",
        "description": "Cria uma corrida avulsa, aceitando dados de cadastro, passageiro, origem, destino, empresa, filtros extras e paradas.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dados_cadastro",
                  "dados_passageiro",
                  "forma_pagamento",
                  "partida"
                ],
                "properties": {
                  "id_externo": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "description": "Identificador externo da integração."
                  },
                  "dados_cadastro": {
                    "type": "object",
                    "required": [
                      "codigo_pais",
                      "codigo_area",
                      "telefone"
                    ],
                    "properties": {
                      "codigo_pais": {
                        "type": "integer"
                      },
                      "codigo_area": {
                        "type": "integer"
                      },
                      "telefone": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  },
                  "dados_passageiro": {
                    "type": "object",
                    "required": [
                      "codigo_pais",
                      "codigo_area",
                      "telefone"
                    ],
                    "properties": {
                      "codigo_pais": {
                        "type": "integer"
                      },
                      "codigo_area": {
                        "type": "integer"
                      },
                      "telefone": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "nome": {
                        "type": "string"
                      }
                    }
                  },
                  "forma_pagamento": {
                    "type": "string",
                    "description": "Forma de pagamento da corrida."
                  },
                  "partida": {
                    "type": "object",
                    "required": [
                      "endereco",
                      "bairro"
                    ],
                    "properties": {
                      "endereco": {
                        "type": "string"
                      },
                      "bairro": {
                        "type": "string"
                      },
                      "cidade": {
                        "type": "string"
                      },
                      "estado": {
                        "type": "string"
                      },
                      "complemento": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ]
                      },
                      "referencia": {
                        "type": "string"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "desejado": {
                    "type": "object",
                    "properties": {
                      "endereco": {
                        "type": "string"
                      },
                      "bairro": {
                        "type": "string"
                      },
                      "cidade": {
                        "type": "string"
                      },
                      "estado": {
                        "type": "string"
                      },
                      "complemento": {
                        "type": "string"
                      },
                      "referencia": {
                        "type": "string"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "empresa": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "cadastrar_funcionario": {
                        "type": "boolean"
                      },
                      "centro_custo_id": {
                        "type": "integer"
                      }
                    }
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "categoria_nome": {
                    "type": "string"
                  },
                  "info_antes_aceite": {
                    "type": "string"
                  },
                  "info_apos_aceite": {
                    "type": "string"
                  },
                  "estimativas": {
                    "type": "boolean"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "extras": {
                    "type": "object",
                    "properties": {
                      "porta_malas_grande": {
                        "type": "boolean"
                      },
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "adaptado_cadeirante": {
                        "type": "boolean"
                      },
                      "motorista_mulher": {
                        "type": "boolean"
                      },
                      "aceita_animais": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "com_retorno": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "condutor": {
                    "type": "object",
                    "properties": {
                      "tipo_identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  },
                  "paradas": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "endereco_parada": {
                          "type": "string"
                        },
                        "bairro_parada": {
                          "type": "string"
                        },
                        "cidade_parada": {
                          "type": "string"
                        },
                        "estado_parada": {
                          "type": "string"
                        },
                        "lat_parada": {
                          "type": "number"
                        },
                        "lng_parada": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "antecedencia": {
                    "type": "integer"
                  },
                  "retorno": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "id_externo": "001",
                "dados_cadastro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999
                },
                "dados_passageiro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999,
                  "nome": "Funcionário 1"
                },
                "empresa": {
                  "id": 1,
                  "cadastrar_funcionario": false,
                  "centro_custo_id": 2
                },
                "info_antes_aceite": "Embarque com animal",
                "info_apos_aceite": "2 paradas",
                "forma_pagamento": "D",
                "categoria_id": 100,
                "categoria_nome": "Comum",
                "estimativas": true,
                "ignorar_condutores_proximos": false,
                "extras": {
                  "porta_malas_grande": false,
                  "veiculo_a_disposicao": false,
                  "adaptado_cadeirante": false,
                  "motorista_mulher": false,
                  "aceita_animais": false,
                  "aceita_encomendas": false,
                  "com_retorno": false,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "condutor": {
                  "tipo_identificacao": false,
                  "identificacao": false
                },
                "partida": {
                  "endereco": "Rua da Assembléia, 10",
                  "complemento": 2513,
                  "bairro": "Centro",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo à ALERJ",
                  "lat": -22.9042273,
                  "lng": -43.1774399
                },
                "desejado": {
                  "endereco": "Praça General Tibúrcio, 80",
                  "complemento": "1 andar",
                  "bairro": "Urca",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo ao Pão de Açúcar",
                  "lat": -22.9205645,
                  "lng": -43.2325781
                },
                "paradas": [
                  {
                    "endereco_parada": "Rua do ouvidor, 100",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903299,
                    "lng_parada": -43.177582
                  },
                  {
                    "endereco_parada": "Rua do rosário, 305",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903965,
                    "lng_parada": -43.180185
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Corrida criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id_mch": "100018556",
                    "tipo": "normal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/programadas": {
      "post": {
        "summary": "Criar corrida programada",
        "description": "Cria uma corrida programada utilizando o payload de criação de corrida mais os campos de agendamento.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data",
                  "hora",
                  "dados_cadastro",
                  "dados_passageiro",
                  "forma_pagamento",
                  "partida"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Data da corrida programada em `DD/MM/YYYY`."
                  },
                  "hora": {
                    "type": "string",
                    "description": "Hora da corrida programada."
                  },
                  "antecedencia": {
                    "type": "integer"
                  },
                  "id_externo": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ]
                  },
                  "dados_cadastro": {
                    "type": "object"
                  },
                  "dados_passageiro": {
                    "type": "object"
                  },
                  "empresa": {
                    "type": "object"
                  },
                  "info_antes_aceite": {
                    "type": "string"
                  },
                  "info_apos_aceite": {
                    "type": "string"
                  },
                  "forma_pagamento": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "categoria_nome": {
                    "type": "string"
                  },
                  "estimativas": {
                    "type": "boolean"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "extras": {
                    "type": "object"
                  },
                  "condutor": {
                    "type": "object"
                  },
                  "partida": {
                    "type": "object"
                  },
                  "desejado": {
                    "type": "object"
                  },
                  "paradas": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "retorno": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "id_externo": "001",
                "dados_cadastro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999
                },
                "dados_passageiro": {
                  "codigo_pais": 55,
                  "codigo_area": 21,
                  "telefone": 999999999,
                  "nome": "Funcionário 1"
                },
                "data": "19/08/2023",
                "hora": "10:35",
                "antecedencia": 15,
                "empresa": {
                  "id": 1,
                  "cadastrar_funcionario": false,
                  "centro_custo_id": 2
                },
                "info_antes_aceite": "Embarque com animal",
                "info_apos_aceite": "2 paradas",
                "forma_pagamento": "D",
                "categoria_id": 100,
                "categoria_nome": "Comum",
                "estimativas": true,
                "ignorar_condutores_proximos": false,
                "extras": {
                  "porta_malas_grande": false,
                  "veiculo_a_disposicao": false,
                  "adaptado_cadeirante": false,
                  "motorista_mulher": false,
                  "aceita_animais": false,
                  "aceita_encomendas": false,
                  "com_retorno": false,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "condutor": {
                  "tipo_identificacao": false,
                  "identificacao": false
                },
                "partida": {
                  "endereco": "Rua da Assembléia, 10",
                  "complemento": 2513,
                  "bairro": "Centro",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo à ALERJ",
                  "lat": -22.9042273,
                  "lng": -43.1774399
                },
                "desejado": {
                  "endereco": "Praça General Tibúrcio, 80",
                  "complemento": "1 andar",
                  "bairro": "Urca",
                  "cidade": "Rio de Janeiro",
                  "estado": "RJ",
                  "referencia": "Próximo ao Pão de Açúcar",
                  "lat": -22.9205645,
                  "lng": -43.2325781
                },
                "paradas": [
                  {
                    "endereco_parada": "Rua do ouvidor, 100",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903299,
                    "lng_parada": -43.177582
                  },
                  {
                    "endereco_parada": "Rua do rosário, 305",
                    "bairro_parada": "Centro",
                    "cidade_parada": "Rio de Janeiro",
                    "estado_parada": "RJ",
                    "lat_parada": -22.903965,
                    "lng_parada": -43.180185
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Corrida programada criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id_mch_programada": "100018556",
                    "tipo": "programada"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar corridas programadas",
        "description": "Lista corridas programadas com paginação.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Quantidade de registros por página."
          },
          {
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Página da listagem."
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id_mch_programada": "1393",
                      "situacao": "C",
                      "situacao_formatada": "Cancelada",
                      "data_previsao_disparo": "26/01/2021",
                      "hora_previsao_disparo": "01:50:00",
                      "id_mch": null,
                      "empresa": {
                        "id": "404",
                        "nome": "empresa_nome"
                      }
                    },
                    {
                      "id_mch_programada": "1392",
                      "situacao": "D",
                      "situacao_formatada": "Distribuída",
                      "data_previsao_disparo": "21/01/2021",
                      "hora_previsao_disparo": "00:55:00",
                      "id_mch": "100003594",
                      "empresa": {
                        "id": null,
                        "nome": null
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/programadas/{id}": {
      "get": {
        "summary": "Consultar corrida programada",
        "description": "Consulta uma corrida programada específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida programada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "situacao": "D",
                    "situacao_formatada": "Distribuída",
                    "data_previsao_disparo": "10/03/2017",
                    "hora_previsao_disparo": "11:50:00",
                    "id_mch": "6450",
                    "empresa": {
                      "id": null,
                      "nome": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/{id}/cancelar": {
      "post": {
        "summary": "Cancelar corrida",
        "description": "Cancela uma corrida existente pelo motivo informado.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "motivo_id"
                ],
                "properties": {
                  "motivo_id": {
                    "type": "integer",
                    "description": "Motivo de cancelamento."
                  }
                }
              },
              "example": {
                "motivo_id": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Corrida cancelada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "mensagem": "Corrida cancelada com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/programadas/{id}/cancelar": {
      "post": {
        "summary": "Cancelar corrida programada",
        "description": "Cancela uma corrida programada.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida programada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Corrida programada cancelada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "mensagem": "Corrida cancelada com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/{id}/condutor/posicao": {
      "get": {
        "summary": "Consultar posição do condutor na corrida",
        "description": "Retorna a posição do condutor em uma corrida.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "lat_condutor": "-23.256762417",
                    "lng_condutor": "-45.896997749"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/{id}/status": {
      "get": {
        "summary": "Consultar status da corrida",
        "description": "Consulta o status atual de uma corrida.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador interno da corrida.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status_solicitacao": "A"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/estimativas": {
      "post": {
        "summary": "Estimar corrida",
        "description": "Calcula estimativa de corrida simples ou multicategorias a partir de coordenadas ou endereço. Quando `multicategorias` é `true`, a API calcula a estimativa de múltiplas categorias.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lat_partida": {
                    "type": "number"
                  },
                  "lng_partida": {
                    "type": "number"
                  },
                  "endereco_partida": {
                    "type": "string"
                  },
                  "bairro_partida": {
                    "type": "string"
                  },
                  "cidade_partida": {
                    "type": "string"
                  },
                  "estado_partida": {
                    "type": "string"
                  },
                  "lat_desejado": {
                    "type": "number"
                  },
                  "lng_desejado": {
                    "type": "number"
                  },
                  "endereco_desejado": {
                    "type": "string"
                  },
                  "bairro_desejado": {
                    "type": "string"
                  },
                  "cidade_desejado": {
                    "type": "string"
                  },
                  "estado_desejado": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "categoria_nome": {
                    "type": "string"
                  },
                  "empresa_id": {
                    "type": "integer"
                  },
                  "latlng_paradas": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  },
                  "hora": {
                    "type": "string"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "multicategorias": {
                    "type": "boolean",
                    "description": "Quando multicategorias é true, a API calcula a estimativa de múltiplas categorias."
                  }
                }
              },
              "example": {
                "lat_partida": -22.904445,
                "lng_partida": -43.175508,
                "endereco_partida": "Rua da Assembleia, 10",
                "bairro_partida": "Centro",
                "cidade_partida": "Rio de Janeiro",
                "estado_partida": "RJ",
                "lat_desejado": -22.90789,
                "lng_desejado": -43.177878,
                "endereco_desejado": "Rua do Rosário, 320",
                "bairro_desejado": "Centro",
                "cidade_desejado": "Rio de Janeiro",
                "estado_desejado": "RJ",
                "multicategorias": true,
                "latlng_paradas": "-22.904434,-43.175555|-22.912385,-43.226663"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "estimativa_minutos": 30,
                    "estimativa_km": 13.99,
                    "categorias": [
                      {
                        "estimativa_valor": 40,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 22,
                        "categoria_nome": "15 Reais",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/{id}/estimativas": {
      "post": {
        "summary": "Estimar corrida para empresa",
        "description": "Calcula estimativa de corrida no contexto da empresa informada na URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lat_partida": {
                    "type": "number"
                  },
                  "lng_partida": {
                    "type": "number"
                  },
                  "endereco_partida": {
                    "type": "string"
                  },
                  "bairro_partida": {
                    "type": "string"
                  },
                  "cidade_partida": {
                    "type": "string"
                  },
                  "estado_partida": {
                    "type": "string"
                  },
                  "lat_desejado": {
                    "type": "number"
                  },
                  "lng_desejado": {
                    "type": "number"
                  },
                  "endereco_desejado": {
                    "type": "string"
                  },
                  "bairro_desejado": {
                    "type": "string"
                  },
                  "cidade_desejado": {
                    "type": "string"
                  },
                  "estado_desejado": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "ignorar_condutores_proximos": {
                    "type": "boolean"
                  },
                  "multicategorias": {
                    "type": "boolean",
                    "description": "Quando multicategorias é true, a API calcula a estimativa de múltiplas categorias."
                  },
                  "latlng_paradas": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "lat_partida": -22.904445,
                "lng_partida": -43.175508,
                "endereco_partida": "Rua da Assembleia, 10",
                "bairro_partida": "Centro",
                "cidade_partida": "Rio de Janeiro",
                "estado_partida": "RJ",
                "lat_desejado": -22.90789,
                "lng_desejado": -43.177878,
                "endereco_desejado": "Rua do Rosário, 320",
                "bairro_desejado": "Centro",
                "cidade_desejado": "Rio de Janeiro",
                "estado_desejado": "RJ",
                "multicategorias": true,
                "latlng_paradas": "-22.904434,-43.175555|-22.912385,-43.226663"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "estimativa_minutos": 30,
                    "estimativa_km": 13.99,
                    "categorias": [
                      {
                        "estimativa_valor": 40,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 22,
                        "categoria_nome": "15 Reais",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/programadas/estimativas": {
      "post": {
        "summary": "Estimar corrida programada",
        "description": "Calcula estimativa de corrida programada a partir de data, hora e dados de origem e destino.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data",
                  "hora"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Data da programação em `YYYY-MM-DD`."
                  },
                  "hora": {
                    "type": "string",
                    "description": "Hora da programação."
                  },
                  "lat_desejado": {
                    "type": "number"
                  },
                  "lng_desejado": {
                    "type": "number"
                  },
                  "endereco_desejado": {
                    "type": "string"
                  },
                  "bairro_desejado": {
                    "type": "string"
                  },
                  "cidade_desejado": {
                    "type": "string"
                  },
                  "estado_desejado": {
                    "type": "string"
                  },
                  "lat_partida": {
                    "type": "number"
                  },
                  "lng_partida": {
                    "type": "number"
                  },
                  "endereco_partida": {
                    "type": "string"
                  },
                  "bairro_partida": {
                    "type": "string"
                  },
                  "cidade_partida": {
                    "type": "string"
                  },
                  "estado_partida": {
                    "type": "string"
                  },
                  "categoria_id": {
                    "type": "integer"
                  },
                  "multicategorias": {
                    "type": "boolean",
                    "description": "Quando multicategorias é true, a API calcula a estimativa de múltiplas categorias."
                  },
                  "latlng_paradas": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "lat_partida": -22.904445,
                "lng_partida": -43.175508,
                "endereco_partida": "Rua da Assembleia, 10",
                "bairro_partida": "Centro",
                "cidade_partida": "Rio de Janeiro",
                "estado_partida": "RJ",
                "lat_desejado": -22.90789,
                "lng_desejado": -43.177878,
                "endereco_desejado": "Rua do Rosário, 320",
                "bairro_desejado": "Centro",
                "cidade_desejado": "Rio de Janeiro",
                "estado_desejado": "RJ",
                "multicategorias": true,
                "latlng_paradas": "-22.904434,-43.175555|-22.912385,-43.226663",
                "data": "2026-05-05",
                "hora": "15:00:00"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "estimativa_minutos": 30,
                    "estimativa_km": 13.99,
                    "categorias": [
                      {
                        "estimativa_valor": 40,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 22,
                        "categoria_nome": "15 Reais",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/{id}/centros-custo": {
      "get": {
        "summary": "Listar centros de custo da empresa",
        "description": "Lista centros de custo de uma empresa para uso no domínio de corridas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da listagem.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "nome": "Administrativo",
                      "limite_mensal": "10000.00"
                    },
                    {
                      "id": "25",
                      "nome": "CEO",
                      "limite_mensal": "1500000.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/corridas/empresas/funcionarios": {
      "get": {
        "summary": "Listar funcionários da empresa",
        "description": "Lista funcionários por empresa ou por centro de custo.",
        "parameters": [
          {
            "name": "empresa_id",
            "in": "query",
            "description": "Obrigatório quando `centro_custo_id` não for informado. Identificador da empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "centro_custo_id",
            "in": "query",
            "description": "Opcional. Centro de custo para filtro; quando informado, pode dispensar `empresa_id`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Opcional. Página da listagem.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Opcional. Quantidade de registros por página.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "nome": "João Pedro",
                      "email": "jaopedro@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": "400.00",
                      "saldo": "0.00"
                    },
                    {
                      "nome": "Maria Vitória",
                      "email": "mariavitoria@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": null,
                      "saldo": "0.00"
                    },
                    {
                      "nome": "Ronaldo da Silva",
                      "email": "ronaldosilva@exemplo.com",
                      "centro_custo_id": "1",
                      "centro_custo_nome": "Administrativo",
                      "empresa_id": "1",
                      "empresa_nome": "EcoCups",
                      "limite_mensal": null,
                      "saldo": "0.00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area": {
      "get": {
        "summary": "Obter dinâmicas por área",
        "description": "Lista as dinâmicas associadas às áreas.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 10,
                      "nome": "Área Central",
                      "fator": 1.5,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": true,
                      "tipo": "No embarque"
                    },
                    {
                      "id": 12,
                      "nome": "Zona Norte",
                      "fator": 1.1,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": false,
                      "tipo": "No destino"
                    },
                    {
                      "id": "14",
                      "nome": "Zona Sul",
                      "valor_adicional": 2.5,
                      "tipo_calculo": "Valor adicional",
                      "ativo": true,
                      "tipo": "No embarque"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/sem-area": {
      "get": {
        "summary": "Obter dinâmica sem área",
        "description": "Obtém a dinâmica sem área.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "nome": "Dinâmica sem área",
                    "fator": 1.5,
                    "tipo_calculo": "Fator multiplicador",
                    "ativo": true,
                    "tipo": "Sem área"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Ativar/Desativar dinâmica sem área",
        "description": "Ativa ou desativa a dinâmica sem área.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativo"
                ],
                "properties": {
                  "ativo": {
                    "description": "Indica se a dinâmica sem área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "ativo": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica sem área atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [],
                  "message": "Dinâmica sem área atualizada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativo ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'ativo': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "nenhuma_alteracao": {
                    "summary": "Nenhuma alteração detectada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Nenhuma alteração detectada."
                        }
                      ]
                    }
                  },
                  "erro_interno": {
                    "summary": "Erro interno",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area/{id}": {
      "patch": {
        "summary": "Ativar/Desativar dinâmica por área",
        "description": "Ativa ou desativa a dinâmica associada a uma área específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da área cuja dinâmica será atualizada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativo"
                ],
                "properties": {
                  "ativo": {
                    "description": "Indica se a dinâmica da área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "ativo": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [],
                  "message": "Dinâmica atualizada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativo ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'ativo': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "nenhuma_alteracao": {
                    "summary": "Nenhuma alteração detectada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Nenhuma alteração detectada."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dinâmica não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dinâmica não encontrada."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores": {
      "get": {
        "summary": "Listar condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado.\n\nA: Ativo\nE: Em análise\nF: Fila de espera\nI: Inativo\nS: Suspenso\nR: Rejeitado\nD: Deletado",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que deseja visualizar as informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara, por exemplo: `123.456.789-09` ou `12345`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Lemuel Tunnel",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Toledo",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Jamaica",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Trantow Trail",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Romagueraside",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "El Salvador",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}": {
      "get": {
        "summary": "Obter condutor",
[...]
