{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração v2 - Entregas",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/v2/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/v2/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Obrigatório. Sua chave API."
      }
    }
  },
  "paths": {
    "/consumidores": {
      "get": {
        "summary": "Listar consumidores",
        "description": "Lista os consumidores da empresa do gestor autenticado, de forma paginada. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de consumidores retornados. Padrão 20, máximo 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da listagem. Padrão 1.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1,
                      "nome": "Maria",
                      "telefone": "+5544999999999"
                    }
                  ],
                  "__links": [
                    {
                      "rel": "self",
                      "href": "api/v2/integracao/consumidores",
                      "metodo": "get"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar consumidor",
        "description": "Cria um consumidor na empresa do gestor autenticado. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "telefone"
                ],
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Apenas letras, espaços e os sinais - ' . (não aceita números nem outros caracteres especiais)."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone em formato internacional E.164, ex.: +5544999999999."
                  }
                }
              },
              "example": {
                "nome": "Maria",
                "telefone": "+5544999999999"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 10,
                    "nome": "Maria"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Já existe um consumidor com este telefone."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}": {
      "get": {
        "summary": "Consultar consumidor",
        "description": "Retorna um consumidor da empresa do gestor, com seus endereços. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria",
                    "telefone": "+5544999999999",
                    "enderecos": [
                      {
                        "id": 8,
                        "endereco": "Av. Brasil, 1000",
                        "complemento": "Sala 2",
                        "bairro": "Centro",
                        "cidade": "Maringá",
                        "estado": "PR",
                        "cep": "87010000",
                        "latitude": -23.425,
                        "longitude": -51.938
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Editar consumidor",
        "description": "Edita o nome do consumidor (paridade com o site). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Maria Silva"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "nome": "Maria Silva"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos": {
      "get": {
        "summary": "Listar endereços",
        "description": "Lista os endereços de um consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 8,
                      "endereco": "Av. Brasil, 1000",
                      "complemento": "Sala 2",
                      "bairro": "Centro",
                      "cidade": "Maringá",
                      "estado": "PR",
                      "cep": "87010000",
                      "latitude": -23.425,
                      "longitude": -51.938
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar endereço",
        "description": "Cria um endereço para um consumidor da empresa do gestor. Endereços duplicados (mesmo place_id) ou a menos de 5 metros de um já cadastrado são rejeitados. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endereco",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "endereco": "Av. Brasil, 1000",
                "complemento": "Sala 2",
                "bairro": "Centro",
                "cidade": "Maringá",
                "estado": "PR",
                "cep": "87010000",
                "latitude": -23.425,
                "longitude": -51.938,
                "place_id": "ChIJ..."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "criado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "'latitude': Preenchimento obrigatório"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Consumidor não encontrado."
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflito",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço já cadastrado ou muito próximo de um endereço existente."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/consumidores/{id}/enderecos/{enderecoId}": {
      "patch": {
        "summary": "Editar endereço",
        "description": "Atualiza um endereço do consumidor. Apenas os campos enviados são alterados (cobre editar o endereço completo ou apenas o complemento). Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endereco": {
                    "type": "string"
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Identificador do Google Places, usado para deduplicação."
                  }
                }
              },
              "example": {
                "complemento": "Apto 31"
              }
            }
          },
          "description": "Atualização parcial: envie ao menos um campo para atualizar; apenas os campos enviados são alterados."
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "atualizado": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Nenhum campo para atualizar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Informe ao menos um campo para atualizar."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir endereço",
        "description": "Exclui um endereço do consumidor da empresa do gestor. Requer Api-Key (bandeira) + autenticação HTTP Basic do gestor da empresa; uso obrigatório de HTTPS.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do consumidor",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "enderecoId",
            "in": "path",
            "required": true,
            "description": "ID do endereço",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Excluído",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "excluido": true
                  }
                }
              }
            }
          },
          "403": {
            "description": "Endereço de outro consumidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dados inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Endereço não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area": {
      "get": {
        "summary": "Obter dinâmicas por área",
        "description": "Lista as dinâmicas associadas às áreas.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 10,
                      "nome": "Área Central",
                      "fator": 1.5,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": true,
                      "tipo": "No embarque"
                    },
                    {
                      "id": 12,
                      "nome": "Zona Norte",
                      "fator": 1.1,
                      "tipo_calculo": "Fator multiplicador",
                      "ativo": false,
                      "tipo": "No destino"
                    },
                    {
                      "id": "14",
                      "nome": "Zona Sul",
                      "valor_adicional": 2.5,
                      "tipo_calculo": "Valor adicional",
                      "ativo": true,
                      "tipo": "No embarque"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/sem-area": {
      "get": {
        "summary": "Obter dinâmica sem área",
        "description": "Obtém a dinâmica sem área.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "nome": "Dinâmica sem área",
                    "fator": 1.5,
                    "tipo_calculo": "Fator multiplicador",
                    "ativo": true,
                    "tipo": "Sem área"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Ativar/Desativar dinâmica sem área",
        "description": "Ativa ou desativa a dinâmica sem área.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativo"
                ],
                "properties": {
                  "ativo": {
                    "description": "Indica se a dinâmica sem área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "ativo": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica sem área atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Dinâmica sem área atualizada com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "campo_obrigatorio": {
                    "summary": "Campo ativo ausente",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 2,
                          "message": "'ativo': Preenchimento obrigatório"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "nenhuma_alteracao": {
                    "summary": "Nenhuma alteração detectada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Nenhuma alteração detectada."
                        }
                      ]
                    }
                  },
                  "erro_interno": {
                    "summary": "Erro interno",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Ocorreu um erro interno no servidor. Por favor, tente novamente mais tarde."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area/{id}": {
      "patch": {
        "summary": "Atualizar dinâmica por área",
        "description": "Atualiza o cadastro da dinâmica associada a uma área específica. Todos os campos são opcionais, mas ao menos um deve ser informado. Como a área é imutável após criada, alterar `nome` cria internamente uma NOVA área — a resposta pode trazer um `id` diferente do informado na URL, que deve ser usado nas próximas requisições sobre essa área.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da área cuja dinâmica será atualizada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Ao menos um dos campos abaixo deve ser informado.",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Novo nome da área."
                  },
                  "fator": {
                    "type": "number",
                    "description": "Novo valor do fator aplicado pela dinâmica (numérico). O significado depende de `tipo_calculo`: com `M`, é o multiplicador aplicado ao preço da entrega (entre 1.1 e 5); com `F`, é o valor fixo em R$ somado ao preço da entrega (entre 0.5 e 99.9)."
                  },
                  "tipo_calculo": {
                    "type": "string",
                    "description": "Forma de cálculo do fator: `F` — Valor adicional, soma um valor fixo em R$ ao preço da entrega; `M` — Fator multiplicador, multiplica o preço da entrega pelo fator informado.",
                    "enum": [
                      "F",
                      "M"
                    ]
                  },
                  "tipo_fator": {
                    "type": "string",
                    "description": "Momento em que o fator é aplicado: `P` — Partida, aplicado na origem/coleta da entrega; `R` — Parada, aplicado no destino/parada da entrega.",
                    "enum": [
                      "P",
                      "R"
                    ]
                  },
                  "ativo": {
                    "description": "Indica se a dinâmica da área ficará ativa ou inativa. Também aceita `1` e `0`.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    ]
                  }
                }
              },
              "example": {
                "nome": "Área Central",
                "fator": 1.8,
                "tipo_calculo": "M",
                "tipo_fator": "P",
                "ativo": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dinâmica atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 10,
                    "nome": "Área Central",
                    "fator": 1.8,
                    "tipo_calculo": "M",
                    "tipo_fator": "P",
                    "ativo": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "nenhum_campo_informado": {
                    "summary": "Nenhum campo informado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Informe ao menos um dos campos: 'nome', 'fator', 'tipo_calculo', 'tipo_fator' ou 'ativo'"
                        }
                      ]
                    }
                  },
                  "fator_invalido": {
                    "summary": "Campo fator inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "O campo 'fator' deve ser numérico"
                        }
                      ]
                    }
                  },
                  "fator_fora_do_limite": {
                    "summary": "Fator fora do limite permitido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "O campo 'fator' está fora do limite permitido"
                        }
                      ]
                    }
                  },
                  "fator_obrigatorio_na_troca_tipo_calculo": {
                    "summary": "Fator obrigatório ao trocar o tipo de cálculo",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "O campo 'fator' é obrigatório ao alterar o 'tipo_calculo'"
                        }
                      ]
                    }
                  },
                  "booleano_invalido": {
                    "summary": "Campo ativo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "'ativo': Deve ser um valor booleano (true ou false)."
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dinâmica não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dinâmica não encontrada."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dinamicas/area/{id}/vertices": {
      "patch": {
        "summary": "Atualizar vértices da área da dinâmica",
        "description": "Substitui todos os vértices do polígono de uma área de dinâmica, a partir de um objeto GeoJSON do tipo `Polygon` (RFC 7946). Como a área é imutável após criada, a alteração de geometria cria internamente uma NOVA área (copiando os demais atributos da área original) — a resposta traz um `id` de área diferente do informado na URL, que deve ser usado nas próximas requisições.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador da área cujos vértices serão atualizados.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "coordinates"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Tipo de geometria GeoJSON. Deve ser `Polygon`.",
                    "enum": [
                      "Polygon"
                    ]
                  },
                  "coordinates": {
                    "type": "array",
                    "description": "Array com exatamente um anel de coordenadas (`coordinates[0]`), com ao menos 4 posições (mínimo de 3 vértices distintos mais o fechamento do anel, ou seja, a primeira posição igual à última). Cada posição é um par `[lng, lat]`, com `lng` entre -180 e 180 e `lat` entre -90 e 90.",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        },
                        "minItems": 2,
                        "maxItems": 2
                      },
                      "minItems": 4
                    },
                    "minItems": 1,
                    "maxItems": 1
                  }
                }
              },
              "example": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -46.6558,
                      -23.5615
                    ],
                    [
                      -46.65,
                      -23.5615
                    ],
                    [
                      -46.65,
                      -23.557
                    ],
                    [
                      -46.6558,
                      -23.557
                    ],
                    [
                      -46.6558,
                      -23.5615
                    ]
                  ]
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vértices atualizados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 27,
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -46.6558,
                          -23.5615
                        ],
                        [
                          -46.65,
                          -23.5615
                        ],
                        [
                          -46.65,
                          -23.557
                        ],
                        [
                          -46.6558,
                          -23.557
                        ],
                        [
                          -46.6558,
                          -23.5615
                        ]
                      ]
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "tipo_invalido": {
                    "summary": "Tipo de geometria inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "O campo 'type' deve ser 'Polygon'"
                        }
                      ]
                    }
                  },
                  "coordinates_insuficientes": {
                    "summary": "Vértices insuficientes",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "O polígono deve conter ao menos 3 vértices distintos"
                        }
                      ]
                    }
                  },
                  "posicao_invalida": {
                    "summary": "Coordenada fora do intervalo permitido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "As coordenadas devem ser numéricas, com 'lng' entre -180 e 180 e 'lat' entre -90 e 90"
                        }
                      ]
                    }
                  },
                  "json_malformado": {
                    "summary": "JSON malformado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "JSON_INVALIDO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dinâmica não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Dinâmica não encontrada."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores": {
      "get": {
        "summary": "Listar condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado.\n\nA: Ativo\nE: Em análise\nF: Fila de espera\nI: Inativo\nS: Suspenso\nR: Rejeitado\nD: Deletado",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de registros por página. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que deseja visualizar as informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara, por exemplo: `123.456.789-09` ou `12345`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Lemuel Tunnel",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Toledo",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Jamaica",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Trantow Trail",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Romagueraside",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "El Salvador",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}": {
      "get": {
        "summary": "Obter condutor",
        "description": "Retorna um condutor da central conforme o ID informado. Para acessar este endpoint, o usuário autenticado deve ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "categorias": [
                        {
                          "id": 1,
                          "nome": "Categoria 1"
                        }
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Jeffery Well",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Mullerchester",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Guinea",
                      "referencia_endereco": null,
                      "dados_extras": "",
                      "foto_url": "https://s3.amazonaws.com/exemplo-bucket/fotos/condutor-5574.jpg?X-Amz-Expires=..."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Atualizar condutor parcialmente",
        "description": "Atualiza parcialmente os dados do condutor. Envie apenas o ID e os campos que deseja alterar.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do condutor."
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do condutor."
                  },
                  "data_nascimento": {
                    "type": "string",
                    "description": "Data de nascimento do condutor."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do condutor."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone do condutor."
                  },
                  "status_condutor": {
                    "type": "string",
                    "description": "Status do condutor."
                  },
                  "endereco": {
                    "type": "string",
                    "description": "Logradouro do condutor."
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número do endereço do condutor."
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento do endereço."
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do condutor."
                  },
                  "cpf": {
                    "type": "string",
                    "description": "CPF do condutor, com ou sem máscara."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do condutor, com ou sem máscara."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo."
                  },
                  "vinculo": {
                    "type": "string",
                    "description": "Tipo de vínculo."
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "description": "Tipo do veículo do condutor."
                  },
                  "placa": {
                    "type": "string",
                    "description": "Placa do veículo."
                  },
                  "modelo": {
                    "type": "string",
                    "description": "Modelo do veículo."
                  },
                  "ano_modelo": {
                    "type": "integer",
                    "description": "Ano do modelo do veículo."
                  },
                  "cor": {
                    "type": "string",
                    "description": "Cor do veículo."
                  },
                  "porta_malas_grande": {
                    "type": "boolean",
                    "description": "Indica se o veículo possui porta-malas grande."
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean",
                    "description": "Indica se o veículo é adaptado para cadeirante."
                  },
                  "numero_viatura": {
                    "type": "integer",
                    "description": "Número da viatura."
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "description": "Lista de tipos de pagamento aceitos.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "description": "Bloco de exigências operacionais do condutor.",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais do condutor."
                  },
                  "observacao_interna_1": {
                    "type": "string",
                    "description": "Observação interna 1."
                  },
                  "observacao_interna_2": {
                    "type": "string",
                    "description": "Observação interna 2."
                  },
                  "observacao_interna_3": {
                    "type": "string",
                    "description": "Observação interna 3."
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "pagamentos": [
                  "B",
                  "X"
                ],
                "observacao_interna_1": "Documentação revisada"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Atualizar condutor completo",
        "description": "Atualiza completamente os dados do condutor. Todos os campos do corpo são obrigatórios, com exceção da regra entre `cpf` e `cnpj`: é obrigatório enviar pelo menos um dos dois.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome",
                  "sexo",
                  "data_nascimento",
                  "email",
                  "telefone",
                  "status_condutor",
                  "endereco",
                  "numero_endereco",
                  "complemento",
                  "cep",
                  "bairro",
                  "possui_vinculo",
                  "vinculo",
                  "veiculo_tipo",
                  "placa",
                  "modelo",
                  "ano_modelo",
                  "cor",
                  "porta_malas_grande",
                  "adaptado_cadeirante",
                  "numero_viatura",
                  "categorias",
                  "pagamentos",
                  "exigencia",
                  "informacoes_adicionais",
                  "observacao_interna_1",
                  "observacao_interna_2",
                  "observacao_interna_3"
                ],
                "properties": {
                  "nome": {
                    "type": "string"
                  },
                  "sexo": {
                    "type": "string"
                  },
                  "data_nascimento": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "telefone": {
                    "type": "string"
                  },
                  "status_condutor": {
                    "type": "string"
                  },
                  "endereco": {
                    "type": "string"
                  },
                  "numero_endereco": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "complemento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Obrigatório se `cnpj` não for enviado."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Obrigatório se `cpf` não for enviado."
                  },
                  "possui_vinculo": {
                    "type": "boolean"
                  },
                  "vinculo": {
                    "type": "string"
                  },
                  "veiculo_tipo": {
                    "type": "string"
                  },
                  "placa": {
                    "type": "string"
                  },
                  "modelo": {
                    "type": "string"
                  },
                  "ano_modelo": {
                    "type": "integer"
                  },
                  "cor": {
                    "type": "string"
                  },
                  "porta_malas_grande": {
                    "type": "boolean"
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean"
                  },
                  "numero_viatura": {
                    "type": "integer"
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Lista de categorias atendidas pelo condutor. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean"
                      },
                      "aceita_encomendas": {
                        "type": "boolean"
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string"
                  },
                  "observacao_interna_1": {
                    "type": "string"
                  },
                  "observacao_interna_2": {
                    "type": "string"
                  },
                  "observacao_interna_3": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nome": "Lara Silva",
                "sexo": "F",
                "data_nascimento": "1990-04-18",
                "email": "lara@exemplo.com",
                "telefone": "(21) 99876-5432",
                "status_condutor": "A",
                "endereco": "Rua Exemplo",
                "numero_endereco": "123",
                "complemento": "Apto 45",
                "cep": "20000-000",
                "bairro": "Centro",
                "cpf": "123.456.789-09",
                "possui_vinculo": true,
                "vinculo": "permissionario",
                "veiculo_tipo": "carro",
                "placa": "ABC1D23",
                "modelo": "Sedan",
                "ano_modelo": 2023,
                "cor": "Branco",
                "porta_malas_grande": true,
                "adaptado_cadeirante": false,
                "numero_viatura": 202,
                "categorias": [
                  1,
                  2
                ],
                "pagamentos": [
                  "D",
                  "B",
                  "X"
                ],
                "exigencia": {
                  "veiculo_a_disposicao": false,
                  "aceita_encomendas": true,
                  "filtro_1": false,
                  "filtro_2": false,
                  "filtro_3": false,
                  "filtro_4": false,
                  "filtro_5": false,
                  "filtro_6": false
                },
                "informacoes_adicionais": "Disponível para corridas corporativas",
                "observacao_interna_1": "Cadastro atualizado"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condutor atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/documentos/atualizar": {
      "post": {
        "summary": "Atualizar documento do condutor",
        "description": "Atualiza um documento específico do condutor com upload de arquivo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo",
                  "foto"
                ],
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do documento a ser atualizado."
                  },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento enviado por `multipart/form-data`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento atualizado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Foto alterada com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/recargas": {
      "post": {
        "summary": "Recarregar créditos do condutor",
        "description": "Realiza uma recarga de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico da recarga."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 100.5,
                "observacao": "Recarga promocional",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "108"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/creditos/saques": {
      "post": {
        "summary": "Sacar créditos do condutor",
        "description": "Realiza um saque de créditos para um condutor identificado por tipo e valor de identificação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "valor",
                  "condutor"
                ],
                "properties": {
                  "valor": {
                    "type": "number",
                    "format": "float",
                    "description": "Valor numérico do saque."
                  },
                  "observacao": {
                    "type": "string",
                    "description": "Observação opcional da operação."
                  },
                  "condutor": {
                    "type": "object",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor: CPF (C), VTR (V), Telefone (T), Placa (P) ou ID (I).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "valor": 50.25,
                "observacao": "Saque solicitado pelo parceiro",
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5574"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "registro_id": "26"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutores/areas-bloqueio/batch": {
      "put": {
        "summary": "Atualizar áreas de bloqueio em lote",
        "description": "Atualiza em lote as áreas de bloqueio de um conjunto de condutores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutores",
                  "areas_bloqueio"
                ],
                "properties": {
                  "condutores": {
                    "type": "array",
                    "description": "Lista de IDs numéricos de condutores. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "areas_bloqueio": {
                    "type": "array",
                    "description": "Lista de IDs numéricos das áreas de bloqueio. Limite máximo de 1000 itens.",
                    "maxItems": 1000,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "condutores": [
                  5574,
                  5575
                ],
                "areas_bloqueio": [
                  24,
                  124
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/condutores/{id}/areas-permissao": {
      "post": {
        "summary": "Vincular área de permissão ao condutor",
        "description": "Vincula um condutor a uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "area_id"
                ],
                "properties": {
                  "area_id": {
                    "type": "integer",
                    "description": "Identificador numérico da área de permissão."
                  }
                }
              },
              "example": {
                "area_id": 24
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Desvincular área de permissão do condutor",
        "description": "Desvincula um condutor de uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identificador numérico do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Condutor atualizado com sucesso"
                }
              }
            }
          },
          "404": {
            "description": "Condutor não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 56,
                      "message": "Condutor não encontrado."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/tipos-documento": {
      "get": {
        "summary": "Listar tipos de documento",
        "description": "Responsável por retornar todos os documentos criados pela central.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "documentos": [
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzQ0Mg",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/areas-geograficas": {
      "get": {
        "summary": "Listar áreas geográficas",
        "description": "Responsável por listar as áreas de bloqueio disponíveis para central.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Default 20, max 100",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Default 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "24",
                      "nome": "Área 33"
                    },
                    {
                      "id": "124",
                      "nome": "Campo Santana"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias": {
      "get": {
        "summary": "Listar categorias",
        "description": "Retorna as categorias ativas da central. Caso seja informada uma localização pertencente a uma filial, serão retornadas as categorias ativas da filial. Caso seja informada a latitude e longitude, não é necessário passar as demais informações.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Obrigatório se lng for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Obrigatório se lat for informado",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade",
            "in": "query",
            "description": "Obrigatório se lat/lng não forem informados",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "description": "Não obrigatório",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "71",
                      "nome": "Comum"
                    },
                    {
                      "id": "162",
                      "nome": "15 Reais"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias/{id}": {
      "put": {
        "summary": "Atualizar categoria",
        "description": "Permite atualizar os dados de uma categoria da central.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id da categoria",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibir_no_app": {
                    "type": "boolean",
                    "description": "Indica se a categoria deve ser exibida no app. Se true, exibe a categoria no aplicativo. Se false, a categoria deixa de ser exibida no aplicativo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Categoria modificada com sucesso!"
                }
              }
            }
          }
        }
      }
    },
    "/configuracoes/categorias/{id}/tarifas": {
      "get": {
        "summary": "Listar tarifas da categoria",
        "description": "Lista as tarifas vigentes da categoria: a tarifa padrão (com `horarios` vazio) e as tarifas extras (com os horários de atuação).\n\nCada tarifa traz **só os campos que se aplicam** ao seu método de cálculo e à operação da bandeira: por exemplo, `valor_hora_parada` só aparece no método `P`, `valores_tabelados` só em `T`, `V` e `B`, `tipo_cobranca_retorno` só em bandeira que faz entregas, e os campos do bônus de deslocamento só com `habilitar_taxa_deslocamento: true`. Valores vêm como texto com 2 casas decimais, ou `null` quando o campo está vazio (os campos que não são obrigatórios no método podem ficar vazios). Na lista de faixas, a faixa acima da maior distância vem como `{\"distancia_km\": null, \"a_partir_de\": true, \"valor\": ...}`.\n\nO formato de cada tarifa é o mesmo devolvido pelo POST e pelo PUT de tarifas; a tabela de campos por método está na página **Criar tarifa da categoria**.\n\nRequer Api-Key (bandeira) + autenticação HTTP Basic de um gestor ativo da bandeira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id da categoria. Deve pertencer à central autenticada.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Tarifa com só os campos que se aplicam ao método e à operação da bandeira. Valores em texto com 2 casas decimais.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "data_inicio": {
                            "type": "string",
                            "description": "Data e hora a partir da qual a tarifa vale, em ISO 8601 UTC (ex.: 2026-09-30T13:20:00Z). Definida pelo servidor no momento da gravação; não é aceita no corpo do POST/PUT."
                          },
                          "nome": {
                            "type": "string"
                          },
                          "metodo_calculo_tarifa": {
                            "type": "string",
                            "enum": [
                              "D",
                              "P",
                              "T",
                              "V",
                              "B"
                            ]
                          },
                          "valores_tabelados": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "distancia_km": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "a_partir_de": {
                                  "type": "boolean"
                                },
                                "valor": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "horarios": {
                            "type": "array",
                            "description": "Lista vazia na tarifa padrão.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dia_semana": {
                                  "type": "integer"
                                },
                                "hora_inicio": {
                                  "type": "string",
                                  "example": "18:00:00"
                                },
                                "hora_fim": {
                                  "type": "string",
                                  "example": "23:59:00"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 4821,
                      "data_inicio": "2026-09-30T13:15:00Z",
                      "nome": "Tarifa padrão",
                      "metodo_calculo_tarifa": "D",
                      "valor_bandeirada": "5.90",
                      "valor_km": "1.20",
                      "valor_minuto": "0.15",
                      "valor_minimo": "8.00",
                      "valor_parada_adicional": "2.00",
                      "habilitar_limite_distancia": false,
                      "habilitar_taxa_deslocamento": false,
                      "tipo_cobranca_retorno": "F",
                      "valor_retorno_adicional": "4.00",
                      "calcular_individual_por_entrega": false,
                      "horarios": []
                    },
                    {
                      "id": 4822,
                      "data_inicio": "2026-09-30T13:20:00Z",
                      "nome": "Noite fim de semana",
                      "metodo_calculo_tarifa": "T",
                      "valor_parada_adicional": "2.00",
                      "valores_tabelados": [
                        {
                          "distancia_km": "5.00",
                          "a_partir_de": false,
                          "valor": "15.00"
                        },
                        {
                          "distancia_km": "10.00",
                          "a_partir_de": false,
                          "valor": "25.00"
                        }
                      ],
                      "habilitar_taxa_deslocamento": false,
                      "tipo_cobranca_retorno": "T",
                      "calcular_individual_por_entrega": false,
                      "horarios": [
                        {
                          "dia_semana": 6,
                          "hora_inicio": "18:00",
                          "hora_fim": "24:00"
                        },
                        {
                          "dia_semana": 7,
                          "hora_inicio": "18:00",
                          "hora_fim": "24:00"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Gestor não autenticado (Authorization Basic ausente ou inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "B5",
                      "message": "Usuário e/ou senhas inválidos."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Categoria não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Categoria informada não existe."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 0,
                      "message": "Falha na operação"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar tarifa da categoria",
        "description": "Cria a tarifa padrão ou uma tarifa extra da categoria. A tarifa começa a valer na hora.\n\n### Tarifa padrão × tarifa extra\n- A **primeira** tarifa da categoria é a **padrão**: é criada **sem** `horarios` e vale o tempo todo.\n- Com a padrão já criada, toda tarifa nova é **extra** e **exige** `horarios`.\n- A categoria aceita no máximo **8** tarifas vigentes: a padrão e mais 7 extras.\n\n### Método de cálculo (`metodo_calculo_tarifa`)\n\n| Método | Campos aceitos | Obrigatórios |\n|---|---|---|\n| `D` duração | `valor_bandeirada`, `valor_km`, `valor_minuto`, `valor_minimo`, `valor_parada_adicional`, `habilitar_limite_distancia` | `valor_bandeirada`, `valor_km` |\n| `P` hora parada | `valor_bandeirada`, `valor_km`, `valor_hora_parada`, `valor_minimo`, `valor_parada_adicional` | `valor_bandeirada` |\n| `V` km variável | `valor_bandeirada`, `valor_minuto`, `valor_minimo`, `valor_parada_adicional`, `valores_tabelados`, `habilitar_limite_distancia` | `valor_bandeirada` e `valores_tabelados` com a faixa `a_partir_de` |\n| `T` tabelado | `valor_parada_adicional`, `valores_tabelados` | `valores_tabelados` (sem a faixa `a_partir_de`) |\n| `B` por bairro | `valores_tabelados` | `valores_tabelados` com a faixa `a_partir_de` |\n\nOs obrigatórios são os mesmos que o painel exige ao salvar; os demais valores podem ficar vazios. Em todos os métodos também valem `nome`, `horarios` e `habilitar_taxa_deslocamento`.\n\nRestrições de bandeira (400 quando não atendidas):\n- `V` exige o app de motorista da bandeira (ou da bandeira agrupadora) na versão **14.4** ou superior;\n- `B` só em bandeira que faz **somente entregas**;\n- `P` não é aceito em bandeira com cálculo de corrida **pré-fixado**.\n\nUma tarifa que já usa `V`, `B` ou `P` pode continuar com o mesmo método mesmo sem atender à restrição.\n\n### Campos condicionais\n- `limite_distancia_maxima` (maior que zero): só com `habilitar_limite_distancia: true` (métodos `D` e `V`). No `V`, precisa ser maior que a maior faixa de `valores_tabelados`.\n- Bônus de deslocamento: `habilitar_taxa_deslocamento: true` exige `taxa_deslocamento_valor_km` (maior que zero), `taxa_deslocamento_km_minimo` (aceita zero) e `taxa_deslocamento_valor_maximo` (maior que zero). Com `false`, os três são limpos e não são aceitos.\n- Retorno (`tipo_cobranca_retorno`): só em bandeira que faz entregas. `T` pelo cálculo da tarifa, `N` não cobrar, `F` valor fixo e `K` por km percorrido (ambos exigem `valor_retorno_adicional` maior que zero), `P` porcentagem (exige `taxa_retorno_porcentagem` maior que zero, até `999.99`). Sem a funcionalidade de taxa de retorno na bandeira, só `T` é aceito.\n- `calcular_individual_por_entrega`: só em bandeira que faz entregas, com o cálculo individual por entrega liberado, e em método diferente de `B`. Com `true`, a parada adicional não é cobrada (`valor_parada_adicional` fica vazio).\n\nCampo enviado que não se aplica ao método ou à operação da bandeira responde **400** com a mensagem `'<campo>': Não se aplica ao método de cálculo da tarifa ou à operação da bandeira.` Campos que não fazem parte do contrato (como `id`, `categoria_id` ou `data_inicio`) são ignorados.\n\n### Formatos\n- **Valores**: número JSON ou texto, não negativo, com **ponto** como separador e até **2 casas decimais** (`\"5.90\"` ou `5.9`), nos mesmos limites do painel: até 8 dígitos inteiros nos valores da tarifa, 5 na taxa de deslocamento, 7 em `limite_distancia_maxima` e 11 no valor das faixas. `\"5,90\"` e `\"5.999\"` respondem 400. Na resposta, os valores vêm sempre como texto (`\"5.90\"`). `null` limpa o campo (e a obrigatoriedade do método continua valendo).\n- **Booleanos** (`habilitar_*`, `calcular_individual_por_entrega`): `true` ou `false`.\n- **`nome`**: texto de 1 a 20 caracteres, sem `<`, `>`, `\"`, `'`, `&` e emoji (400). Omitido, vale \"Tarifa padrão\" ou \"Tarifa extra N\", como no painel.\n- **`horarios`**: lista de até **36** horários `{dia_semana, hora_inicio, hora_fim}` por tarifa, com `dia_semana` de `1` (domingo) a `7` (sábado) e horas em `HH:MM`, **sem segundos** (`18:00:00` responde 400), `hora_fim` maior que `hora_inicio` e `24:00` para ir até o fim do dia. `hora_fim` é o fim do bloco, como no calendário do painel: `08:00`–`12:00` e `12:00`–`18:00` no mesmo dia **não** se sobrepõe
[...]
