{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Integração",
    "description": "API de Integração v1",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-vendas.taximachine.com.br/api/integracao"
    },
    {
      "url": "https://api.taximachine.com.br/api/integracao"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/cliente": {
      "get": {
        "summary": "Obter clientes",
        "description": "Quando acionada, são retornados todos os clientes da central conforme os parâmetros informados.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do cliente de que se deseja saber informações, caso seja informado, os demais parâmetros serão ignorados. Caso não seja informado, retornará todos os clientes conforme os limites informados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status_cliente",
            "in": "query",
            "description": "Filtra os clientes pelo status:\n\nA: Ativo\nI: Inativo\nS: Suspenso\nG: Aguardando ativação",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "I",
                "S",
                "G"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de clientes retornados. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": [
                    {
                      "id": "1",
                      "nome": "Exemplo",
                      "email": "exemplo@email.com.br",
                      "telefone": "(11) 97772-3133",
                      "status_cliente": "A",
                      "cpf": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/criarCupom": {
      "post": {
        "summary": "Criar cupom",
        "description": "Cria um novo cupom de desconto.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gerador_cupom_id",
                  "codigo",
                  "data_hora_inicio",
                  "data_hora_final",
                  "limite_de_uso",
                  "limite_de_uso_individual",
                  "tipo_desconto",
                  "desconto",
                  "tipos_pagamentos"
                ],
                "properties": {
                  "gerador_cupom_id": {
                    "type": "integer",
                    "description": "ID do gerador de cupons de que deve seguir o padrão."
                  },
                  "codigo": {
                    "type": "string",
                    "description": "Código do cupom."
                  },
                  "data_hora_inicio": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Data hora do início da validade do cupom."
                  },
                  "data_hora_final": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Data hora do fim da validade do cupom."
                  },
                  "limite_de_uso": {
                    "type": "string",
                    "description": "Quantidade de vezes que o cupom poderá ser utilizado, podendo ser: sem_limite, apenas_uma_vez, apenas_primeira_corrida, ate_n_vezes_por_passageiro.",
                    "enum": [
                      "sem_limite",
                      "apenas_uma_vez",
                      "apenas_primeira_corrida",
                      "ate_n_vezes_por_passageiro"
                    ]
                  },
                  "limite_de_uso_individual": {
                    "type": "integer",
                    "description": "Quantidade de vezes que o cupom pode ser utilizado, caso limite_de_uso seja ate_n_vezes_por_passageiro."
                  },
                  "tipo_desconto": {
                    "type": "string",
                    "description": "Tipo de desconto como percentual (percentual) ou valor fixo (valor_fixo).",
                    "enum": [
                      "percentual",
                      "valor_fixo"
                    ]
                  },
                  "desconto": {
                    "type": "string",
                    "description": "Valor do desconto que será aplicado no cupom."
                  },
                  "tipos_pagamentos": {
                    "type": "array",
                    "description": "Tipos de pagamento em que o cupom irá se aplicar, valores aceitos: Dinheiro (D), Débito (máquina) (B), Crédito máquina (C), eTicket (T), Voucher (V), Pix (X), Picpay (P), Whatsapp (H), Cartão via app (A), Faturado (F), Picpay (P), Pix via app (I) e Carteira de Créditos (R).",
                    "items": {
                      "type": "string",
                      "enum": [
                        "D",
                        "B",
                        "C",
                        "T",
                        "V",
                        "X",
                        "P",
                        "H",
                        "A",
                        "F",
                        "I",
                        "R"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "codigo": "BLACK FRIDAY",
                    "mensagem": "Cupom criado com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geradorCupom": {
      "get": {
        "summary": "Obter geradores de cupom",
        "description": "Retorna uma lista com os geradores de cupom disponíveis.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": [
                    {
                      "id": "3",
                      "nome": "Gerador apenas primeira corrida",
                      "tipo": "apenas_primeira_corrida",
                      "data_hora_inicio": "2023-08-15T03:00:00Z",
                      "data_hora_fim": "2023-11-16T02:59:59Z",
                      "quantidade_maxima_cupons": "10",
                      "quantidade_cupons_gerados": "2",
                      "tipo_desconto": "percentual",
                      "desconto": "10.00",
                      "tipos_pagamentos": [
                        {
                          "tipo": "D",
                          "nome": "Dinheiro"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/obterDocumentos": {
      "get": {
        "summary": "Obter documentos da central",
        "description": "Responsável por retornar todos os documentos criados pela central.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "documentos": [
                      {
                        "nome": "CNH",
                        "tipo": "ZG9jXzQz",
                        "ativo": true
                      }
                    ],
                    "quantidade_documentos": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listarAreas": {
      "get": {
        "summary": "Listar áreas",
        "description": "Responsável por listar as áreas de bloqueio disponíveis para central.",
        "parameters": [
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de áreas retornadas. O limite padrão é 20 e o máximo é 100.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "id": "1",
                    "nome": "Abelardo Bueno"
                  },
                  {
                    "id": "2",
                    "nome": "01"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/enviarMensagem": {
      "post": {
        "summary": "Enviar mensagem",
        "description": "Permite enviar mensagens entre empresa e central, e entre central e condutores. Para acessar este endpoint, o usuário precisa ter a permissão `API - Mensagem`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo_chat",
                  "destinatario_id",
                  "mensagem"
                ],
                "properties": {
                  "tipo_chat": {
                    "type": "string",
                    "description": "Obrigatório. Especifica o tipo de conversa. Valores aceitos: `E` (empresa ↔ central), `C` (central → empresa), `G` (central → condutores) e `P` (central ↔ condutores).",
                    "enum": [
                      "E",
                      "C",
                      "G",
                      "P"
                    ]
                  },
                  "destinatario_id": {
                    "type": "integer",
                    "description": "Obrigatório para os tipos `E` e `P`. Ignorado para os tipos `C` e `G`. Se `tipo_chat` for `E`, informe o ID da empresa. Se `tipo_chat` for `P`, informe o ID do condutor."
                  },
                  "mensagem": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Obrigatório. Mensagem que você deseja enviar, com no máximo 10000 caracteres."
                  }
                }
              },
              "example": {
                "tipo_chat": "G",
                "destinatario_id": 1,
                "mensagem": "Bom dia, está indo ao local de partida?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "status": "OK",
                    "mensagem": "Mensagem enviada com sucesso."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integracao/v1/bandeira": {
      "servers": [
        {
          "url": "https://api-vendas.taximachine.com.br"
        },
        {
          "url": "https://api.taximachine.com.br"
        }
      ],
      "put": {
        "summary": "Alterar configurações da central",
        "description": "Permite alterar as configurações da sua central.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permitir_solicitacao_espera": {
                    "type": "boolean",
                    "description": "Opcional. Indica se deve habilitar as solicitações em espera. Use `true` para habilitar e `false` para desabilitar."
                  },
                  "distancia_km_solicitacao_espera": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.25,
                    "maximum": 10,
                    "description": "Opcional. Distância em quilômetros entre o ponto atual do condutor e o destino informado de finalização da corrida para que o condutor receba uma solicitação em espera. Aceita valores entre `0.25` e `10.0`."
                  },
                  "limite_cancelamentos_permitidos": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Opcional. Quantidade limite de cancelamentos permitidos pelo condutor. A configuração `Habilita a punição por cancelamentos` deve estar habilitada."
                  }
                }
              },
              "example": {
                "permitir_solicitacao_espera": true,
                "distancia_km_solicitacao_espera": 0.25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Central modificada com sucesso."
                }
              }
            }
          }
        }
      }
    },
    "/listarWebhook": {
      "get": {
        "summary": "Listar webhooks",
        "description": "Permite visualizar os webhooks cadastrados.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "webhooks": [
                      {
                        "id": "5",
                        "tipo": "posicao",
                        "responsavel": "corrida",
                        "url": "https://teste-2.com"
                      },
                      {
                        "id": "6",
                        "tipo": "posicao",
                        "responsavel": "solicitante",
                        "url": "https://url-de-teste-2.com"
                      }
                    ],
                    "quantidade_webhooks": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cadastrarWebhook": {
      "post": {
        "summary": "Cadastrar webhook",
        "description": "Permite cadastrar um webhook.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Indica o tipo de webhook. Valores aceitos: posicao ou status",
                    "enum": [
                      "posicao",
                      "status"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "description": "Indica a URL que receberá o evento"
                  },
                  "responsabilidade": {
                    "type": "string",
                    "description": "Obrigatório se o usuário autenticado não for de \"empresa\". Define quem é o responsável pelo evento. Valores aceitos: solicitante ou corrida. IMPORTANTE: para usuários \"empresa\", a responsabilidade será definida automaticamente.",
                    "enum": [
                      "solicitante",
                      "corrida"
                    ]
                  }
                },
                "required": [
                  "tipo",
                  "url",
                  "responsabilidade"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "mensagem": "Webhook criado com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atualizarWebhook/{id}": {
      "put": {
        "summary": "Atualizar webhook",
        "description": "Permite atualizar a url de um webhook. É possível uma central atualizar o webhook de uma empresa cadastrada em sua operação.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Indica a URL que receberá o evento"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "mensagem": "Webhook atualizado com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deletarWebhook/{id}": {
      "delete": {
        "summary": "Deletar webhook",
        "description": "Permite deletar um webhook.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do webhook a ser deletado",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "mensagem": "Webhook deletado com sucesso"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integracao/v1/notificacao/push": {
      "servers": [
        {
          "url": "https://api-vendas.taximachine.com.br"
        },
        {
          "url": "https://api.taximachine.com.br"
        }
      ],
      "post": {
        "summary": "Enviar notificação push",
        "description": "Envia notificações via push.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passageiros",
                  "mensagem"
                ],
                "properties": {
                  "passageiros": {
                    "type": "array",
                    "description": "Obrigatório. Lista de usuários que irão receber as notificações.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "titulo": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Opcional. Título da notificação. Limite de 40 caracteres."
                  },
                  "mensagem": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Obrigatório. Mensagem da notificação. Limite de 255 caracteres."
                  }
                }
              },
              "example": {
                "passageiros": [
                  123
                ],
                "titulo": "Titulo",
                "mensagem": "Mensagem aqui"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Push enviado com sucesso"
                }
              }
            }
          }
        }
      }
    },
    "/integracao/v1/notificacao/inAppMessaging": {
      "servers": [
        {
          "url": "https://api-vendas.taximachine.com.br"
        },
        {
          "url": "https://api.taximachine.com.br"
        }
      ],
      "post": {
        "summary": "Enviar notificação in-app",
        "description": "Envia notificações via inAppMessaging.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passageiros",
                  "body",
                  "titulo"
                ],
                "properties": {
                  "passageiros": {
                    "type": "array",
                    "description": "Obrigatório. Lista de usuários que irão receber as notificações.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "titulo": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Opcional. Título da notificação. Limite de 40 caracteres."
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Obrigatório. Mensagem da notificação. Limite de 255 caracteres."
                  },
                  "url_imagem": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Opcional. URL de uma imagem a ser exibida."
                  },
                  "solicitacao_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Opcional. ID da solicitação. Se informado, a notificação só será exibida caso a solicitação esteja em andamento."
                  },
                  "titulo_botao_redirecionamento": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 20,
                    "description": "Obrigatório. Título do botão de redirecionamento. Limite de 20 caracteres."
                  },
                  "link_redirecionamento": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Opcional. URL de redirecionamento do botão."
                  }
                }
              },
              "example": {
                "passageiros": [
                  123
                ],
                "titulo": "Titulo",
                "body": "Mensagem aqui",
                "url_imagem": null,
                "solicitacao_id": null,
                "titulo_botao_redirecionamento": null,
                "link_redirecionamento": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "inAppMessaging enviado com sucesso"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dinamica/area": {
      "get": {
        "summary": "Obter dinâmicas por área",
        "description": "Esse endpoint retorna a lista de dinâmicas associadas às áreas. Cada item da resposta representa um fator de dinâmica vinculado a uma área específica, contendo informações sobre seu estado atual, tipo de fator e valor aplicado.",
        "servers": [
          {
            "url": "https://api-vendas.taximachine.com.br/integracao"
          },
          {
            "url": "https://api.taximachine.com.br/integracao"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 10,
                      "nome": "Área Central",
                      "fator": 1.25,
                      "ativo": true,
                      "tipo": "No embarque"
                    },
                    {
                      "id": 12,
                      "nome": "Zona Norte",
                      "fator": 1.1,
                      "ativo": false,
                      "tipo": "No embarque"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/dinamica/area/{id}": {
      "patch": {
        "summary": "Ativar/Desativar dinâmica por área",
        "description": "Este endpoint permite ativar ou desativar uma dinâmica associada a uma área específica, identificada pelo id informado na URL. A operação altera apenas o estado (`ativo`) da dinâmica, respeitando validações de estado atual e tipo do fator.",
        "servers": [
          {
            "url": "https://api-vendas.taximachine.com.br/integracao"
          },
          {
            "url": "https://api.taximachine.com.br/integracao"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ativo": {
                    "type": "boolean",
                    "description": "Indica se o fator de dinâmica será ativo ou desativado. Valores válidos: true, false, 1, 0"
                  }
                },
                "required": [
                  "ativo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Dinâmica atualizada com sucesso"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dinamica/semArea": {
      "get": {
        "summary": "Obter dinâmica sem área",
        "description": "Este endpoint retorna a dinâmica sem área. A dinâmica sem área representa um fator único aplicado de forma geral, independentemente da área, permitindo identificar se o fator está ativo e qual valor está configurado.",
        "servers": [
          {
            "url": "https://api-vendas.taximachine.com.br/integracao"
          },
          {
            "url": "https://api.taximachine.com.br/integracao"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "nome": "Dinâmica sem área",
                    "fator": 1.15,
                    "ativo": true,
                    "tipo": "Sem área"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Ativar/Desativar dinâmica sem área",
        "description": "Este endpoint permite ativar ou desativar a dinâmica global (sem área). A dinâmica sem área representa um fator único aplicado de forma geral, sem vínculo com áreas específicas.",
        "servers": [
          {
            "url": "https://api-vendas.taximachine.com.br/integracao"
          },
          {
            "url": "https://api.taximachine.com.br/api/integracao"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ativo": {
                    "type": "boolean",
                    "description": "Indica se o fator de dinâmica será ativo ou desativado. Valores válidos: true, false, 1, 0"
                  }
                },
                "required": [
                  "ativo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Dinamica sem area atualizada com sucesso."
                }
              }
            }
          }
        }
      }
    },
    "/integracao/v1/saqueAutomatico/ativarDesativar": {
      "servers": [
        {
          "url": "https://api-vendas.taximachine.com.br"
        },
        {
          "url": "https://api.taximachine.com.br"
        }
      ],
      "post": {
        "summary": "Ativar ou desativar saque automático",
        "description": "Ativa ou desativa a funcionalidade de saque automático. É necessário ter uma integração ativa para usar esta operação. O limite é de 5 requisições por minuto.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ativar"
                ],
                "additionalProperties": false,
                "properties": {
                  "ativar": {
                    "type": "boolean",
                    "description": "Obrigatório. Indica se o saque automático será ativado ou desativado. Valores aceitos pela API: `true`, `false`, `1` e `0`."
                  }
                }
              },
              "example": {
                "ativar": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque automático ativado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "Saque automático ativado"
                }
              }
            }
          }
        }
      }
    },
    "/categoria": {
      "get": {
        "summary": "Obter Categorias",
        "description": "Retorna as categorias ativas da central. Caso seja informada uma localização pertencente a uma filial, serão retornadas as categorias ativas da filial.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Obrigatório caso envie lng",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Obrigatório caso envie lat",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "cidade",
            "in": "query",
            "description": "Obrigatório se não enviar lat/lng",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Obrigatório se não enviar lat/lng",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro",
            "in": "query",
            "description": "Obrigatório se não enviar lat/lng",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "description": "Estado",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "response": [
                    {
                      "id": "1",
                      "nome": "Comum"
                    },
                    {
                      "id": "2",
                      "nome": "VIP"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/categoria/{id}": {
      "put": {
        "summary": "Atualizar categoria",
        "description": "Permite atualizar os dados de uma categoria da central.",
        "servers": [
          {
            "url": "https://api-vendas.taximachine.com.br/integracao"
          },
          {
            "url": "https://api.taximachine.com.br/integracao"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibir_no_app": {
                    "type": "boolean",
                    "description": "Opcional. Indica se a categoria deve ser exibida no app. Se true, exibe a categoria no aplicativo. Se false, a categoria deixa de ser exibida no aplicativo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Categoria modificada com sucesso!"
                }
              }
            }
          }
        }
      }
    },
    "/estimarSolicitacao": {
      "get": {
        "summary": "Estimar solicitação",
        "description": "Permite obter a estimativa do valor da solicitação em uma única categoria. Para acessar esta endpoint, o usuário precisa ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "empresa_id",
            "in": "query",
            "description": "ID da empresa do usuário. Obrigatório quando o usuário autenticado é um usuário de empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lat_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço de partida. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço de partida. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço desejado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço desejado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "Data de abertura da solicitação. Obrigatório caso seja para uma corrida programada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hora",
            "in": "query",
            "description": "Hora de abertura da solicitação. Obrigatório caso seja para uma solicitação programada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoria_nome",
            "in": "query",
            "description": "Nome da categoria que se deseja estimar. Para uma categoria específica, informe `categoria_id` ou `categoria_nome`. Se nenhum dos dois for informado, será usada a primeira categoria exibida no app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoria_id",
            "in": "query",
            "description": "ID da categoria que se deseja estimar. Para uma categoria específica, informe `categoria_id` ou `categoria_nome`. Se nenhum dos dois for informado, será usada a primeira categoria exibida no app.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "latlng_paradas",
            "in": "query",
            "description": "String contendo a latitude e longitude das paradas da solicitação, separadas por `|`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignorar_condutores_proximos",
            "in": "query",
            "description": "Determina se os condutores próximos serão ignorados ao realizar a estimativa. Afeta somente a configuração de despacho por proximidade.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "estimativa_valor": 19.2,
                    "estimativa_minutos": 31,
                    "estimativa_km": 14,
                    "categoria_nome": "Elite",
                    "tarifa_nome": "Tarifa padrão",
                    "partida": {
                      "lat": "-22.904445",
                      "lng": "-43.175508"
                    },
                    "paradas": [
                      "-22.904434,-43.175555",
                      "-22.912385,-43.226663"
                    ],
                    "desejado": {
                      "lat": "-22.907890",
                      "lng": "-43.177878"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimarSolicitacaoMulticategorias": {
      "get": {
        "summary": "Estimar solicitação multicategorias",
        "description": "Permite obter a estimativa do valor da solicitação de todas as categorias da central que possuem uma tarifa associada. Para acessar esta endpoint, o usuário precisa ter a permissão `API - Corrida`.",
        "parameters": [
          {
            "name": "empresa_id",
            "in": "query",
            "description": "ID da empresa do usuário. Obrigatório quando o usuário autenticado é um usuário de empresa.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lat_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço de partida. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço de partida. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado_partida",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_partida` e `lng_partida`. Caso o usuário autenticado seja de empresa, não é necessário informar o local de partida.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço desejado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lng_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros de endereço desejado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bairro_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cidade_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado_desejado",
            "in": "query",
            "description": "Obrigatório apenas na ausência dos parâmetros `lat_desejado` e `lng_desejado`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "Data de abertura da solicitação. Obrigatório caso seja para uma corrida programada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hora",
            "in": "query",
            "description": "Hora de abertura da solicitação. Obrigatório caso seja para uma solicitação programada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latlng_paradas",
            "in": "query",
            "description": "String contendo a latitude e longitude das paradas da solicitação, separadas por `|`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignorar_condutores_proximos",
            "in": "query",
            "description": "Determina se os condutores próximos serão ignorados ao realizar a estimativa. Afeta somente a configuração de despacho por proximidade.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "estimativa_minutos": 31,
                    "estimativa_km": 14,
                    "categorias": [
                      {
                        "estimativa_valor": null,
                        "categoria_nome": "Mercado",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 32.1,
                        "categoria_nome": "Comum",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 19.1,
                        "categoria_nome": "Porta-malas grande",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 64.8,
                        "categoria_nome": "Táxi PcD",
                        "tarifa_nome": "Tarifa padrão"
                      },
                      {
                        "estimativa_valor": 19.2,
                        "categoria_nome": "Elite",
                        "tarifa_nome": "Tarifa padrão"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/condutor": {
      "get": {
        "summary": "Obter condutores",
        "description": "Retorna todos os condutores da central conforme os parâmetros informados.",
        "parameters": [
          {
            "name": "status_condutor",
            "in": "query",
            "description": "Retorna apenas os condutores no status desejado. Valores aceitos: `A`, `E`, `F`, `I`, `S`, `R` e `D`.",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "E",
                "F",
                "I",
                "S",
                "R",
                "D"
              ]
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Quantidade de condutores retornados. O limite padrão é `20` e o máximo é `100`.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Qual início da contagem para o limite. O padrão é `1`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "telefone",
            "in": "query",
            "description": "Telefone do condutor que você deseja consultar.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do condutor. Aceita valor completo ou parcial, com ou sem máscara. Exemplos: `123.456.789-09` ou `12345`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": [
                    {
                      "id": "5574",
                      "nome": "Lara",
                      "email": "lara@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:54:53",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Gutmann Village",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Lake Oranbury",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Ethiopia",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "5575",
                      "nome": "Jorge",
                      "email": "jorge@exemplo.com",
                      "telefone": "(012) 93485-8345",
                      "status": "E",
                      "cpf": "879.213.930-20",
                      "chave_pix": null,
                      "pagamentos": [],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2024-03-27 09:55:40",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Kertzmann Track",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Pacochaville",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Belize",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    },
                    {
                      "id": "712",
                      "nome": "Roberto",
                      "email": "roberto@exemplo.com",
                      "telefone": "(021) 98466-9933",
                      "status": "E",
                      "cpf": "145.744.687-18",
                      "chave_pix": null,
                      "pagamentos": [
                        "B"
                      ],
                      "avaliacao_media": null,
                      "data_hora_situacao_cadastral": "2018-05-22 14:32:32",
                      "data_hora_ultima_corrida": null,
                      "numero_viatura": null,
                      "observacao_interna_1": null,
                      "observacao_interna_2": null,
                      "observacao_interna_3": null,
                      "endereco": "Hessel Roads",
                      "numero_endereco": "",
                      "complemento": "",
                      "bairro": "",
                      "nome_cidade": "Hillltown",
                      "uf_sigla": "",
                      "cep": "99999-999",
                      "pais_nome": "Nigeria",
                      "referencia_endereco": null,
                      "dados_extras": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/posicaoCondutor": {
      "get": {
        "summary": "Posição do condutor",
        "description": "Informa a posição do condutor responsável pela solicitação aberta. Se a solicitação estiver em estado de distribuição (`D`), pendente (`P`), aguardando aceite (`G`), finalizada (`F`), cancelada (`C`) ou não atendida (`N`), o retorno será com latitude e longitude nulas.",
        "parameters": [
          {
            "name": "id_mch",
            "in": "query",
            "required": true,
            "description": "Obrigatório. ID da solicitação para a qual você deseja consultar a posição do condutor associado.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "comPosicao": {
                    "summary": "Posição disponível",
                    "value": {
                      "success": true,
                      "response": {
                        "lat_condutor": "-23.256762417",
                        "lng_condutor": "-45.896997749"
                      }
                    }
                  },
                  "semPosicao": {
                    "summary": "Status compatível, mas sem posição",
                    "value": {
                      "success": true,
                      "response": {
                        "lat_condutor": null,
                        "lng_condutor": null
                      }
                    }
                  },
                  "statusIncompativel": {
                    "summary": "Solicitação em status incompatível",
                    "value": {
                      "success": true,
                      "response": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 25,
                      "message": "Solicitacao não encontrada."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/recarregarCreditosCondutor": {
      "post": {
        "summary": "Recarregar créditos do condutor",
        "description": "Os condutores podem possuir carteiras de crédito. Esse endpoint permite adicionar créditos para o condutor informado. Para acessar este endpoint, o usuário precisa ter a permissão `API - Carteira de créditos`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutor",
                  "valor"
                ],
                "properties": {
                  "condutor": {
                    "type": "object",
                    "description": "Obrigatório. Objeto para identificar o condutor.",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor. Valores aceitos: `C` (CPF), `V` (VTR), `T` (Telefone), `P` (Placa) e `I` (ID).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ],
                        "description": "Valor do atributo de identificação."
                      }
                    }
                  },
                  "valor": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Valor a ser recarregado."
                  }
                }
              },
              "example": {
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5601"
                },
                "valor": "1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso ou falha de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "sucesso": {
                    "summary": "Recarga realizada com sucesso",
                    "value": {
                      "success": true,
                      "response": {
                        "registro_id": "12512"
                      }
                    }
                  },
                  "identificacaoNaoEncontrada": {
                    "summary": "Identificação não encontrada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 6,
                          "message": "Identificação não encontrada."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Entrada incorreta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 24,
                      "message": "Formato da entrada incorreto. {valor}"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sacarCreditosCondutor": {
      "post": {
        "summary": "Sacar créditos do condutor",
        "description": "Os condutores podem possuir carteiras de crédito. Esse endpoint permite sacar créditos do condutor informado. Apenas usuários da central com a permissão `Carteira de créditos` podem acessá-lo. Para acessar este endpoint, o usuário precisa ter a permissão `API - Carteira de créditos`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutor",
                  "valor"
                ],
                "properties": {
                  "condutor": {
                    "type": "object",
                    "description": "Obrigatório. Objeto para identificar o condutor.",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor. Valores aceitos: `C` (CPF), `V` (VTR), `T` (Telefone), `P` (Placa) e `I` (ID).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ],
                        "description": "Valor do atributo de identificação."
                      }
                    }
                  },
                  "valor": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Valor do saque."
                  }
                }
              },
              "example": {
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5601"
                },
                "valor": "10000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "registro_id": "12516"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falha no saque",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "entradaIncorreta": {
                    "summary": "Entrada incorreta",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 24,
                          "message": "Formato da entrada incorreto. {valor}"
                        }
                      ]
                    }
                  },
                  "identificacaoNaoEncontrada": {
                    "summary": "Identificação não encontrada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 6,
                          "message": "Identificação não encontrada."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/saldoCreditosCondutor": {
      "post": {
        "summary": "Verificar saldo de créditos do condutor",
        "description": "Permite verificar o saldo da carteira de crédito de um condutor. Para acessar este endpoint, o usuário precisa ter a permissão `API - Carteira de créditos`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutor"
                ],
                "properties": {
                  "condutor": {
                    "type": "object",
                    "description": "Obrigatório. Objeto para identificar o condutor.",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor. Valores aceitos: `C` (CPF), `V` (VTR), `T` (Telefone), `P` (Placa) e `I` (ID).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ],
                        "description": "Valor do atributo de identificação."
                      }
                    }
                  }
                }
              },
              "example": {
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": "5601"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "saldo": 95.06
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falha na consulta do saldo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "identificacaoNaoEncontrada": {
                    "summary": "Identificação não encontrada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 6,
                          "message": "Identificação não encontrada."
                        }
                      ]
                    }
                  },
                  "entradaIncorreta": {
                    "summary": "Entrada incorreta",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 24,
                          "message": "Formato da entrada incorreto."
                        }
                      ]
                    }
                  },
                  "tipoInvalido": {
                    "summary": "Tipo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 5,
                          "message": "Tipo de identificação inválida."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentoCondutor/{id}": {
      "post": {
        "summary": "Atualizar documento do condutor",
        "description": "Permite atualizar um documento do condutor. Apenas os parâmetros enviados são alterados.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Obrigatório. ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "tipo",
                  "foto"
                ],
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Obrigatório. Tipo do documento a ser enviado. Consulte os tipos aceitos em `GET /obterDocumentos`, na seção da central, ou envie `rosto` para a foto do rosto."
                  },
                  "foto": {
                    "type": "string",
                    "format": "binary",
                    "description": "Obrigatório. Foto do documento."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "status": "success",
                    "mensagem": "Foto alterada com sucesso"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falha na atualização do documento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "tipoInvalido": {
                    "summary": "Tipo inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 60,
                          "message": "tipo é inválido"
                        }
                      ]
                    }
                  },
                  "arquivoVazio": {
                    "summary": "Arquivo vazio",
                    "value": {
                      "success": false,
                      "validationErrors": [
                        {
                          "code": 62,
                          "message": "Arquivo vazio."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atualizarCondutores": {
      "put": {
        "summary": "Atualizar condutores",
        "description": "Permite a atualização em massa dos condutores. Os dados que você deseja atualizar devem ser enviados no corpo da requisição, assim como os condutores que devem receber a alteração. O parâmetro `condutores` deve ser um array de inteiros com os IDs dos condutores. O parâmetro `areas_bloqueio` deve ser um array de inteiros com os IDs das áreas que deseja atribuir aos condutores.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutores"
                ],
                "properties": {
                  "condutores": {
                    "type": "array",
                    "description": "Array de inteiros contendo os IDs dos condutores a serem atualizados.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "areas_bloqueio": {
                    "type": "array",
                    "description": "Array de inteiros contendo os IDs das áreas que deseja atribuir aos condutores.",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "condutores": [
                  809,
                  62
                ],
                "areas_bloqueio": [
                  304,
                  294,
                  821
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Falha na atualização em massa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "semCamposParaAtualizar": {
                    "summary": "Sem campos para atualizar",
                    "value": {
                      "success": false,
                      "errors": [
                        "É necessário enviar um ou mais campos para realizar atualização dos entregadores."
                      ]
                    }
                  },
                  "condutoresFormatoIncorreto": {
                    "summary": "Condutores em formato incorreto",
                    "value": {
                      "success": false,
                      "errors": [
                        "Campo condutores é inválido. Deve ser um array."
                      ]
                    }
                  },
                  "areasFormatoIncorreto": {
                    "summary": "Áreas em formato incorreto",
                    "value": {
                      "success": false,
                      "errors": [
                        "Campo areas_bloqueio é inválido. Deve ser um array."
                      ]
                    }
                  },
                  "condutorInvalido": {
                    "summary": "Condutor inválido",
                    "value": {
                      "success": false,
                      "errors": [
                        "Um ou mais entregadores não foram encontrados."
                      ]
                    }
                  },
                  "areaInvalida": {
                    "summary": "Área inválida",
                    "value": {
                      "success": false,
                      "errors": [
                        "Área 30000 é inválida"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/obterDocumentosCadastroCondutor": {
      "post": {
        "summary": "Obter documentos cadastrados do condutor",
        "description": "Retorna todos os documentos cadastrados de um condutor.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condutor"
                ],
                "properties": {
                  "condutor": {
                    "type": "object",
                    "description": "Obrigatório. Objeto para identificar o condutor.",
                    "required": [
                      "tipo_identificacao",
                      "identificacao"
                    ],
                    "properties": {
                      "tipo_identificacao": {
                        "type": "string",
                        "description": "Forma de identificação do condutor. Valores aceitos: `C` (CPF), `V` (VTR), `T` (telefone), `P` (placa) e `I` (ID).",
                        "enum": [
                          "C",
                          "V",
                          "T",
                          "P",
                          "I"
                        ]
                      },
                      "identificacao": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          }
                        ],
                        "description": "Valor do atributo de identificação."
                      }
                    }
                  }
                }
              },
              "example": {
                "condutor": {
                  "tipo_identificacao": "I",
                  "identificacao": 666
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "documentos": [
                      {
                        "nome": "Alvará de táxi",
                        "tipo": "ZG9jXzI2",
                        "ativo": false
                      },
                      {
                        "nome": "Autonomia (frente)",
                        "tipo": "ZG9jXzI3",
                        "ativo": false
                      },
                      {
                        "nome": "Autonomia (verso)",
                        "tipo": "ZG9jXzI4",
                        "ativo": false
                      },
                      {
                        "nome": "Certidão de antecedentes criminais",
                        "tipo": "ZG9jXzI1",
                        "ativo": false
                      },
                      {
                        "nome": "CNH (Carteira Nacional de Habilitação)",
                        "tipo": "ZG9jXzIy",
                        "ativo": false
                      },
                      {
                        "nome": "Comprovante de residência",
                        "tipo": "ZG9jXzIz",
                        "ativo": false
                      },
                      {
                        "nome": "CRLV (Certificado de Registro e Licenciamento do Veículo)",
                        "tipo": "ZG9jXzI0",
                        "ativo": false
                      }
                    ],
                    "quantidade_documentos": 7
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falha na consulta dos documentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "atributoObrigatorio": {
                    "summary": "Atributo obrigatório ausente",
                    "value": {
                      "success": false,
                      "validationErrors": [
                        {
                          "code": 2,
                          "message": "Atributo 'condutor' é obrigatório."
                        }
                      ]
                    }
                  },
                  "identificacaoNaoEncontrada": {
                    "summary": "Identificação não encontrada",
                    "value": {
                      "success": false,
                      "validationErrors": [
                        {
                          "code": 6,
                          "message": "Identificação não encontrada."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vincularAreaPermissao/{id}": {
      "post": {
        "summary": "Vincular área permissão motorista",
        "description": "Vincula um condutor a uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "area_id"
                ],
                "properties": {
                  "area_id": {
                    "type": "integer",
                    "description": "ID da área que será vinculada ao condutor."
                  }
                }
              },
              "example": {
                "area_id": 667
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "status": "OK",
                    "mensagem": "Entregador atualizado com sucesso"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Área ou motorista não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "areaNaoEncontrada": {
                    "summary": "Área não encontrada",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 0,
                          "message": "Área não encontrada"
                        }
                      ]
                    }
                  },
                  "motoristaNaoEncontrado": {
                    "summary": "Motorista não encontrado",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": 56,
                          "message": "Motorista não encontrado"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/desvincularAreaPermissao/{id}": {
      "post": {
        "summary": "Desvincular área permissão motorista",
        "description": "Desvincula um condutor de uma área de permissão.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do condutor.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "response": {
                    "status": "OK",
                    "mensagem": "Entregador atualizado com sucesso"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Condutor sem área vinculada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 129,
                      "message": "CONDUTOR_SEM_AREA_VINCULADA"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/atualizarCondutor/{id}": {
      "post": {
        "summary": "Atualizar dados do condutor",
        "description": "Permite atualizar os dados de um condutor. Apenas os atributos enviados são alterados. Os demais permanecem com os valores atuais.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Obrigatório. ID do condutor que você deseja atualizar.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID do condutor."
                  },
                  "nome": {
                    "type": "string",
                    "description": "Novo nome do condutor."
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do condutor. Valores aceitos: `M`, `F`, `O` e `N`.",
                    "enum": [
                      "M",
                      "F",
                      "O",
                      "N"
                    ]
                  },
                  "data_nascimento": {
                    "type": "string",
                    "description": "Nova data de nascimento do condutor. Exemplo: `2000-01-13`."
                  },
                  "email": {
                    "type": "string",
                    "description": "Novo e-mail do condutor."
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Novo telefone do condutor."
                  },
                  "status_condutor": {
                    "type": "string",
                    "description": "Novo status do condutor. Valores aceitos: `A`, `E`, `F`, `I`, `S`, `R` e `D`.",
                    "enum": [
                      "A",
                      "E",
                      "F",
                      "I",
                      "S",
                      "R",
                      "D"
                    ]
                  },
                  "endereco": {
                    "type": "string",
                    "description": "Novo endereço do condutor."
                  },
                  "numero_endereco": {
                    "type": "string",
                    "description": "Novo número do endereço do condutor."
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Novo complemento do endereço do condutor."
                  },
                  "cep": {
                    "type": "string",
                    "description": "Novo CEP do condutor."
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Novo bairro do condutor."
                  },
                  "cpf": {
                    "type": "string",
                    "description": "Novo CPF do condutor."
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "Novo CNPJ do condutor."
                  },
                  "cnh": {
                    "type": "string",
                    "description": "Nova CNH do condutor."
                  },
                  "possui_vinculo": {
                    "type": "boolean",
                    "description": "Indica se o condutor possui vínculo."
                  },
                  "vinculo": {
                    "type": "string",
                    "description": "Novo vínculo do condutor. Obrigatório quando `possui_vinculo` for `true`."
                  },
                  "veiculo_tipo": {
                    "type": "string",
                    "description": "Novo tipo de veículo do condutor. Valores aceitos: `C`, `M`, `T` e `B`.",
                    "enum": [
                      "C",
                      "M",
                      "T",
                      "B"
                    ]
                  },
                  "placa": {
                    "type": "string",
                    "description": "Nova placa do veículo do condutor."
                  },
                  "modelo": {
                    "type": "string",
                    "description": "Novo modelo do veículo do condutor."
                  },
                  "ano_modelo": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Novo ano do modelo do veículo do condutor."
                  },
                  "cor": {
                    "type": "string",
                    "description": "Nova cor do veículo do condutor."
                  },
                  "porta_malas_grande": {
                    "type": "boolean",
                    "description": "Indica se o veículo possui porta-malas grande."
                  },
                  "adaptado_cadeirante": {
                    "type": "boolean",
                    "description": "Indica se o veículo é adaptado para cadeirantes."
                  },
                  "numero_viatura": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Número de viatura do condutor."
                  },
                  "categorias": {
                    "type": "array",
                    "description": "Categorias do condutor.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagamentos": {
                    "type": "array",
                    "description": "Siglas dos tipos de pagamento aceitos pelo condutor. Valores aceitos: `D`, `B`, `C`, `T`, `V`, `X`, `P`, `H`, `A`, `F`, `I` e `R`.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "D",
                        "B",
                        "C",
                        "T",
                        "V",
                        "X",
                        "P",
                        "H",
                        "A",
                        "F",
                        "I",
                        "R"
                      ]
                    }
                  },
                  "exigencia": {
                    "type": "object",
                    "description": "Exigências aceitas pelo condutor.",
                    "properties": {
                      "veiculo_a_disposicao": {
                        "type": "boolean",
                        "description": "Indica se o condutor aceita veículo à disposição."
                      },
                      "aceita_encomendas": {
                        "type": "boolean",
                        "description": "Indica se o condutor aceita encomendas."
                      },
                      "filtro_1": {
                        "type": "boolean"
                      },
                      "filtro_2": {
                        "type": "boolean"
                      },
                      "filtro_3": {
                        "type": "boolean"
                      },
                      "filtro_4": {
                        "type": "boolean"
                      },
                      "filtro_5": {
                        "type": "boolean"
                      },
                      "filtro_6": {
                        "type": "boolean"
                      }
                    }
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais do condutor."
                  },
                  "observacao_interna_1": {
                    "type": "string",
                    "description": "Observação interna 1 do condutor."
                  },
                  "observacao_interna_2": {
                    "type": "string",
                    "description": "Observação interna 2 do condutor."
                  },
                  "observacao_interna_3": {
                    "type": "string",
                    "description": "Observação interna 3 do condutor."
                  }
                }
              },
              "example": {
                "id": 5378,
                "nome": "Rafael",
                "sexo": "M",
                "data_nascimento": "2000-01-13",
                "email": "rafalem@exemplo.com",
                "telefone": "(021) 91234-5678",
                "possui_vinculo": true,
                "vinculo": "A",
                "status_condutor": "A",
                "veiculo_tipo": "B",
                "placa": "XXX-9999",
                "cor": "ffffff",
                "modelo": "Siena",
                "ano_modelo": 2008,
                "porta_malas_grande": true,
                "adaptado_cadeirante": true,
                "categorias": [
                  1,
                  2,
                  3
                ],
                "endereco": "rua da saudade",
                "endereco_numero": "12",
                "complemento": "lote 12",
                "cep": "12345-678",
                "bairro": "bairro 1",
                "cpf": "306.093.750-83",
                "cnh": "99999999999",
                "numero_viatura": "12",
                "pagamentos": [
                  "B",
                  "C",
                  "T"
                ],
                "exigencia": {
                  "veiculo_a_disposicao": true,
                  "aceita_encomendas": true,
                  "filtro_1": false,
                  "filtro_2": true,
                  "filtro_3": true,
                  "filtro_4": true,
                  "filtro_5": true,
                  "filtro_6": true
                },
                "informacoes_adicionais": "Taxista empresario",
                "observacao_interna_1": "Observação 1",
                "observacao_interna_2": "Observação 2",
                "observacao_interna_3": "Observação 3"
              }
            }
          }
        },
[...]
